#billing_inputs.billing.inputs{:style => (!(@owner.card.nil? || @owner.card.new_record?) ? "display: none;" : "display: block;" ) }
  = render "owner_preferences/plan_and_billing/card_form", :owner => owner
  - unless @owner.card.nil? || @owner.card.new_record?
    %small.change_card
      = link_to_function "cancel", "hideCardForm()", :class => :red, :id => 'change_card_link'

- unless @owner.card.nil? || @owner.card.new_record?
  #billing_view.billing.view{:style => "display: block;"}
    = render "owner_preferences/plan_and_billing/card_view", :owner => owner
    %small.change_card
      = link_to_function "change card", "showCardForm()", :class => :red, :id => 'cancel_card_link'
