#owner-card {
  font-family: helvetica;
}

#owner-card .row {
  margin-bottom: 20px;
}

#owner-card .label {
  font-size: 18px;
}

#owner-card .value {
  font-size: 12px;
  margin-left: 15px;
}

#owner-card .status-row {
  font-size: 12px;
  margin-bottom: 15px;
  background: #787878;
  color: white;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding-right: 20px;
}

#owner-card .status-row span {
  margin-left: 20px;
  line-height: 20px;
}

.owner_domain_name {
  color: #7c7c7c;
  font-size:14px;
}

.user_company_url {
  position:absolute;
  right: 15px;
  font-size: 14px;
  margin-top: -45px;
}

.user_company_url a {
  text-decoration: none;
}

#owner-card .value a:hover, .user_company_url a:hover {
  text-shadow: 1px 1px 2px #ffffff;
  text-decoration: underline;
}