#owner-card {
  font-family: helvetica;
}

#owner-card .row {
  margin-bottom: 20px;
}

#owner-card .label {
  font-size: 18px;
}

#owner-card .value {
  font-size: 12px;
  margin-left: 15px;
}

#owner-card .status-row {
  font-size: 12px;
  margin-bottom: 15px;
  background: #787878;
  color: white;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding-right: 20px;
}

#owner-card .status-row span {
  margin-left: 20px;
  line-height: 20px;
}

.owner_domain_name {
  color: #7c7c7c;
  font-size:14px;
}

.user_company_url {
  float: right;
}