
.text_of_terms_of_service#text_of_terms_of_service{:style => "display: none;"}
  %span.terms_cross
  = link_to_function "", "$('text_of_terms_of_service').hide();", :class => :close
  .text
    %h1 LICENCE AGREEMENT AND TERMS OF SERVICE
    %p 
      Thank you for selecting the EditFu Online Services (“EditFu”, the “EditFu Services”, or the “Services”). 
      This License Agreement and Terms of Service (the "Agreement") is a contract between you ("you" or "Licensee") 
      and BluMatch, LLC (“BluMatch”) that describes the terms and conditions applicable to your use of the Services. 
      Before using the Services, you must read and accept the terms and conditions contained in this Agreement. 
      If you do not accept this Agreement, you will not be able to use the Services. If you are evaluating the 
      Services through use thereof during the Trial Period and do not upgrade to the Pro-Plan within thirty (30) 
      days of enrollment, your Account will be suspended until such upgrade is purchased.
    
    %p
      TO UTILIZE THE EDITFU ONLINE SERVICES SERVICES, YOU MUST READ AND AGREE TO THE TERMS PROVIDED BELOW.  
      PLEASE READ THESE TERMS OF SERVICE CAREFULLY.  BY CLICKING “AGREE” BELOW, YOU ARE AGREEING TO BE BOUND 
      BY THESE TERMS OF SERVICE.  IF YOU DO NOT AGREE TO EACH AND ALL OF THE TERMS OF SERVICE PROVIDED BELOW, 
      PLEASE CLICK “DECLINE” AND DO NOT PROCEED TO THE NEXT PAGE.
  
    %p
      BluMatch reserves the right, at any time, to modify, alter, or update (a “Modification”) the terms 
      of this Agreement without prior notice. Modifications shall become effective immediately upon being 
      posted at the <a href="www.editfu.com">www.editfu.com website</a>.  Your continued use of the EditFu Services after any Modification(s) 
      has been posted shall constitute your acknowledgement and acceptance of such Modification(s).
  
    %h2 SERVICES LICENSE
  
    %ol
      %li 
        %strong Description of Services.  
        EditFu is a value-added website content editor tailored to the needs of website designers.  
        Use of EditFu allows website designers to provide their clients with the ability to self-update 
        the static content displayed on the clients’ websites without the need of purchasing a 
        costly Content Management System.
      %li 
        %strong Types of Accounts.
        Currently, BlueMatch offers both a restricted free account (a “Free Plan”) and a paid premium 
        account (a “Pro Plan”), each subject to the limitations described below. Please read this document 
        in its entirety regarding Account restrictions. BluMatch reserves the right, at any time, 
        to change the fees for access to and use of the www.editfu.com website and/or the Services, 
        as well as the contents of either.
        %ol
          %li 
            %strong Pro Plan.
            Subject to the limitations provided herein, the Pro Plan Services provides Licensee 
            with unlimited access to and use of the EditFu Services.  The Pro Plan allows Licensee 
            to create and access an unlimited number of websites.  Additionally, under the Pro Plan 
            there are no page number limitations to such websites.  The Pro Plan also allows an unlimited number 
            of Editors. The Pro Plan is made available for $24.95 per month (the “Service Fees”).
          %li
            %strong Free Plan.
            The Free Plan provides License with limited access to the EditFu Services. This limited 
            access allows licensee to create one (1) website containing no more than three (3) pages. 
            In addition, the Free Plan does not allow Editors to access the Services. 
            A maximum of one (1) Free Plan Account is available per Person.
      %li
        %strong Account.
        To access the EditFu Services, Licensee must establish an Account with BluMatch through 
        the www.editfu.com website. To establish an Account, Licensee must have a valid email address, 
        which will serve as Licensee’s login address. Licensee must also select a password, which will 
        be required each time Licensee wishes to access the Services, and provide his or her full legal 
        name. To purchase the Pro Plan, Licensee must also provide a valid credit or debit card, 
        which will be charged the Service Fees on a monthly basis. Licensee represents and warrants 
        that he or she is an authorized user of any such credit or debit card. No credit or debit 
        card is required during the Trial Period or for use of the Free Plan.
      %li
        %strong Trial Period. 
        For a period of thirty (30) days commencing on the Effective Date (the “Trial Period”), 
        Licensee shall have access to and is hereby granted a temporary, non-exclusive, non-transferable, 
        revocable license to use the full Pro Plan Service.  Should Licensee fail to Upgrade to the Pro Plan Services 
        within the Trial Period, Licensee’s access to the EditFu Services shall be suspended 
        (“Suspended”, or a “Suspension Period”) as provided below.
      %li
        %strong Suspension Period.
        Should Licensee either (a) fail to upgrade to the Pro Plan before the end of the Trial Period; 
        or (b) fail timely to make any monthly Service Fee payment (subsequent to a previous Upgrade), 
        Licensee’s Account shall be suspended. During a Suspension Period, Licensee’s will be put on 
        hold and Licensee shall lose access to the Services and no updates shall be possible. Licensee’s Account 
        shall remain suspended until Licensee elects either the Free Plan or the Pro Plan (and pays the 
        appropriate Service Fees, should Licensee select the Pro Plan), or in the case of nonpayment, 
        brings his or her Account current following a nonpayment-related suspension. Should Licensee 
        elect the Free Plan, Licensee will also be required to select to which website Licensee desires 
        to retain limited access (if Licensee had created more than one website during the Trial Period). 
      %li
        %strong Upgrade to Pro Plan.
        At any time during the Trial Period or a Suspension Period, Licensee may upgrade to the Pro Plan 
        by providing a valid credit or debit card through Licensee’s Account (an “Upgrade”). In such event, 
        Licensee’s credit or debit card shall be processed for the Service Fees and access to the full 
        Pro Plan Services shall be provided immediately. Pro Plan Service Fees for subsequent Terms 
        shall be processed every thirty (30) days thereafter.
      %li
        %strong Downgrades.
        Licensee may, at any time, downgrade from the Pro Plan Services to the Free Plan Services 
        (a “Downgrade”). By Downgrading to the Free Plan, Licensee may lose certain Content and features. 
        Licensee will be required to select to which website Licensee desires to retain limited access 
        (if Licensee has created more than one website). Licensee agrees that BluMatch shall not be liable 
        for any loss of Content associated with a Downgrade. 
      %li 
        %strong License Grant. 
        %ol
          %li
            %strong Pro Plan.
            Upon purchase of and payment for the Pro Plan Services, BluMatch will grant Licensee a limited, 
            non-exclusive, non-transferable, revocable license to use the Pro Plan Services 
            (the “Pro Plan License”). The Pro Plan License shall last for the Initial Term or Renewal Term, 
            as the circumstances demand, and shall automatically renew on a monthly basis so long as 
            Licensee pays the Service Fees for each such Renewal period. The Pro Plan Services may not 
            be transferred to any other Person.
          %li
            %strong Free Plan.
            By agreeing to the terms of this Agreement, BluMatch grants Licensee a limited, non-exclusive, 
            non-transferable, revocable license to use the Free Plan services. Licensee’s license to the 
            Free Plan may be revoked by BluMatch at any time with or without notice.
      %li
        %strong Reservation of Rights and Ownership.
        The EditFu Services and BluMatch Software in their entirety are protected by copyright laws. 
        The EditFu Services and BluMatch Software also contain the trade secrets of BluMatch and third 
        parties, and Licensee may not decompile, reverse engineer, disassemble, or otherwise reduce the 
        EditFu Services and/or BluMatch Software to human-perceivable form or disclose such trade secrets, 
        or disable any functionality which limits the use of the EditFu Services and/or BluMatch Software. 
        Licensee may not attempt to modify, adapt, translate, rent, sublicense, assign, loan, resell for 
        profit, distribute, or network the EditFu Services and/or BluMatch Software,
        
    %h2 TERMS OF SERVICE
    %ol
      %li
        %strong Definitions.
        As used herein, the following terms shall have the following meanings: (a) “Account” shall mean 
        each and every account for the EditFu Services whether presently active, suspended or cancelled, 
        opened by a Person through the www.editfu.com website; (b) “Account Holder” shall mean the individual 
        web designer or other Person who opens an Account for the Services; (c) “Affiliate” shall mean shall 
        mean any legal entity or entities controlling or controlled by BluMatch, Inc., SteppingStone, or Licensee; 
        the term “control” as used herein means the right to exercise, directly or indirectly, more than fifty 
        percent (50%) of the voting rights attributable to the shares, partnership interests, 
        membership shares or similar evidences of ownership of such controlled entity; (d) “BluMatch” shall 
        mean BluMatch, LLC, SteppingStone and the Affiliates of each; (e) "Communications" shall mean any notice, 
        record, agreement, or other type of information that is made available to Licensee or received 
        from Licensee in connection with the Services and the Software; (f) “Content” shall mean all writings, 
        graphics, videos, information, or other data and/or electronic media posted or uploaded, 
        whether by Licensee or any Editor thereof, to www.editfu.com website or using the EditFu Services; 
        (g) “Damages” shall mean liabilities, losses, obligations, damages, costs, actions, suits, claims, 
        demands, settlements, judgments, penalties, fines, including punitive or exemplary damages and reasonable 
        attorney fees or other expenses; (h) “Editor” shall mean any Account Holder client that has been given 
        the ability to update website content through Account Holder; (i) “Effective Date” shall mean the date 
        upon which Licensee enrolls into the Pro Plan Services by consenting to this Agreement and paying the 
        Service Fees therefor; (j) “Initial Term” shall mean the first thirty (30) days from the Effective Date; 
        (k) “Login Information” shall mean Licensee’s email address and password used to access Licensee’s Account; 
        (l) “Person” shall mean any individual, business, group, or entity; (m) “Services” shall mean either or both, 
        as the circumstances or context require or requires, the Pro Plan and/or Free Plan described herein; 
        (n) “Software” or “BluMatch Software” shall mean the programming code created by BluMatch which implements 
        the EditFu Services; (o) “Subsequent Term” shall mean the first thirty (30) days following the last 
        day of the Initial Term or any Subsequent Term; (p) “Third Party Services” shall mean any services 
        provided through the EditFu Services or the www.editfu.com website or other services provided by any Person 
        that is not BluMatch or an Affiliate thereof; Third Party Services shall also include any open source 
        framework or source code available on or provided by the EditFu Services, the www.editfu.com website, 
        or BluMatch or any of its Affiliates; and (q) “Upgrade” shall mean Licensee’s enrollment into 
        the Pro Plan Services by payment by Licensee of the Service Fees recited herein.
      %li
        %strong Term.
        The Term of this Agreement shall commence upon the Effective Date and continue for a period 
        of thirty (30) days (the “Initial Term), unless sooner terminated as set forth herein. 
        This Agreement shall thereafter automatically renew for succeeding terms of thirty (30) days (a “Renewal Term”) 
        unless Licensee cancels this Agreement pursuant to Section 4 below prior to the expiration 
        of the Initial Term or any Renewal thereof. The Initial Term and any Renewal terms shall 
        collectively constitute the "Term" of this Agreement.
      %li
        %strong Termination.
        Any breach of the terms of this Agreement by Licensee shall constitute a default hereof. 
        Should Licensee so default on this Agreement, Licensee’s license to use the EditFu Services, 
        BluMatch Software and the EditFu website shall automatically terminate. Additionally, 
        BluMatch reserves the right to revoke Licensee’s access to and use of the Free Plan Services 
        at any time, with or without cause, and with or without notice. BluMatch also reserves 
        the right to cease providing or to change the Free Plan at any time and without notice. 
        Without limiting the generality of the foregoing, and without further notice, BluMatch may 
        choose to delete and/or reduce any or all of Licensee’s Content if Licensee’s Free 
        Plan Account is inactive for ninety (90) days. BluMatch also reserves the right to delete 
        and/or reduce at any time any or all of Licensee’s Content uploaded or posted during the Trial Period.
      %li
        %strong Fees and Payment.
        Licensee agrees to pay all charges and fees as specified herein via the credit or debit card provided 
        by Licensee to purchase the Pro Plan Services. All Service Fees for the EditFu Services are billed in advance. 
        Licensee will be billed according to the terms and conditions of this Agreement. The Service Fees are 
        exclusive of all taxes, duties, or levies used by applicable authorities; Licensee accepts full 
        responsibility for any such charges, if applicable. The Pro 
        Plan Services are provided on a month-to-month basis and the monthly Service Fees are subject to change. 
        Payment for the Service is due on the first (1st) day of the Initial Term and each Subsequent Term. 
        If Licensee’s credit or debit card is denied or rejected for any reason whatsoever, Licensee’s Account 
        will be Suspended until the earlier of 1) Licensee provides BluMatch a new, valid credit or debit 
        card and payment is processed thereon; or 2) Licensee elects to Downgrade to a Free Plan 
        Account in accordance with Section 7 above. Upon Licensee’s provision of a new, valid credit or debit 
        card following a Suspension Period, Licensee’s Account shall be restored to full functionality. 
        In addition, Licensee’s billing period and billing date shall recommence upon time of such payment 
        following a Suspension Period, and such date shall be considered the new effective date (a “New Effective Date”) 
        of this Agreement. Subsequent monthly payments shall be debited every thirty (30) days from this New Effective Date.
        %br
        In the event Licensee fails to pay charges, BluMatch may suspend or terminate Licensee’s Service and may assign 
        unpaid late balances to a collection agency for appropriate action. In the event legal 
        action is necessary to collect on balances due, Licensee agrees to reimburse BluMatch for all expenses 
        incurred to recover sums due, including attorneys' fees and other legal expenses. Licensee will 
        also be charged a fee for any credit or debit card transaction that is denied by the financial 
        institution issuing such credit or debit card. BluMatch may modify its billing practices or late 
        payment charges by providing Licensee with prior written notice of the modification. Notice of such 
        changes may be posted in the EditFu Services, on the www.editfu.com website, or BluMatch’s marketing 
        website located at takeastep.me, or Licensee may be notified via email.
      %li
        %strong Cancellations.
        Licensee may cancel this Agreement at any time through the EditFu website located at www.editfu.com.  
        To cancel, Licensee must sign into his or her Account and under “Preferences”, click on the “Cancellation” 
        link (a “Cancellation”).  Cancellations will not be accepted via telephone or email. 
        Licensee is fully responsible for cancelling his or her Account. A Cancellation 
        will be effective and all of Licensee’s Content shall be removed immediately. Licensee shall be solely and exclusively 
        responsible for the removal of any such Content upon a cancellation and is responsible for making a copy of any 
        such Content Licensee wishes to save. No refunds, pro-rated or otherwise, will be honored for any 
        cancellation made prior to the end of the then-present Term.
        %br
        BluMatch has the right at any point to cancel or suspend Licensee’s Account and deny use of it and 
        all future services at any point in time for any reason. Canceling an account can lead to deletion of your 
        account or blocked access. Refusing service to anyone at any point in time is a right BluMatch 
        reserves to use whenever we see fit.
      %li
        %strong Access.
        Licensee represents and warrants that he or she is at least eighteen (18) years of age. 
        Licensee is responsible for providing, at Licensee’s expense, any access to the Internet and any required equipment. 
        Further, BluMatch may at any time change or discontinue any aspect, availability or feature of the Services. 
        Licensee’s access to the Services may be limited from time to time, depending on the service 
        provided by Licensee’s Internet service provider or other third party. Licensee agrees to be responsible 
        for all telephone and/or Internet charges associated with Licensee’s Internet and Service usage. 
        Licensee’s use of the Services may be subject to additional terms and conditions. 
        All Services are subject to change. If and when Licensee connects to the Internet to update Licensee’s data, 
        BluMatch may also include EditFu Services and/or BluMatch Software updates (i.e., software maintenance, 
        service information, help content, etc.) in the update transmission.
      %li
        %strong Account Security; Restrictions.
        Licensee is responsible for safeguarding the password that Licensee use to access the EditFu Services, 
        Licensee’s Content, and the www.editfu.com website. Licensee agrees not to disclose Licensee’s 
        password to any third party. Licensee agrees to take sole responsibility for any activities 
        or actions under Licensee’s password, whether or not Licensee has authorized such activities or actions. 
        Licensee will immediately notify BluMatch of any unauthorized use of Licensee’s password. Licensee 
        acknowledges that if Licensee wishes to protect Licensee’s transmission of data and/or files to BluMatch, 
        it is Licensee’s responsibility to use a secure encrypted connection to communicate with and/or utilize 
        the EditFu Services, BluMatch Software and www.editfu.com website.  Licensee further acknowledges and agrees 
        that BluMatch shall not be liable for any Damages resulting from Licensee’s failure to comply with this section. 
        %br
        Licensee shall be solely and exclusively responsible for any and all Content posted by Licensee or any Editor 
        provided access to the EditFu Services through Licensee. Any form of abuse (including threats) to any BluMatch 
        employee, customer, or officer shall lead to immediate termination of Licensee’s Account. BluMatch reserves 
        the right, but is not obligated to, remove or takedown any sites that BluMatch determines are unlawful, 
        offense, violative of intellectual property rights, or violative of this Agreement.
        %br
        Licensee understands that the technical processing and transmission of the Service, 
        including Licensee’s Content, may be transferred unencrypted and involve (a) transmissions over 
        various networks; and (b) changes to conform and adapt to technical requirements of connecting 
        networks or devices.
      %li
        %strong Bandwidth Limitation.
        If Licensee’s bandwidth use exceeds 250 megabytes per month or exceeds the bandwidth usage 
        of BluMatch’s average customer, BluMatch shall be entitled to warn, suspend, or cancel 
        (following adequate warning and a time to cure) Licensee’s Account(s).
      %li 
        %strong Technical Support.
        Technical support is only provided to Persons who have enrolled into and paid for the Pro Plan Services.  
        Such support is only available via email.
      %li 
        %strong Consent to Conduct Business Electronically ("Consent").
        %ol
          %li
            %em Consent to Electronic Communications.
            BluMatch may be required by law to send Communications to Licensee that may pertain to the EditFu Services 
            or BluMatch Software, the use of information Licensee may submit to BluMatch, and the Services Licensee chooses. 
            Licensee agrees that BluMatch, on behalf of itself, and others who administer such services (as applicable), 
            may send Communications to Licensee by email and/or may make Communications available to Licensee 
            by posting them at one or more of BluMatch’s sponsored websites, such as www.editfu.com. 
            Licensee consents to receive these Communications electronically. 
          %li
            %em Consenting to Do Business Electronically.
            The decision whether to do business electronically is Licensee’s, and Licensee should consider whether 
            Licensee has the required hardware and software capabilities described below. Licensee’s consent to do business 
            electronically and this Agreement to do so covers all transactions Licensee conducts through the Services 
            for as long as Licensee remains a subscriber to the Services. 
          %li
            %em Hardware and Software Requirements.
            In order to access and retain an electronic record of Communications, Licensee will need: a computer, 
            a monitor, a connection to an Internet service provider, Internet browser software that supports 
            128-bit encryption, and an e-mail address. By clicking on the "Accept" button below, Licensee is confirming 
            to BluMatch that Licensee has the means to access, and to print or download, Communications. 
            BluMatch does not provide ISP services. Licensee must have Licensee’s own Internet service provider.
          %li
            %em Withdrawal of Consent.
            If Licensee later decides that Licensee does not want to receive future Communications electronically, 
            Licensee must write to BluMatch at BluMatch, LLC, 6940 Roswell Rd., Unit 1b, Atlanta, Georgia 30328. 
            If Licensee withdraws Licensee’s consent to receive Communications electronically, 
            BluMatch may terminate Licensee’s use of the Services.
          %li
            %em Changes to Licensee’s Email Address.
            Licensee agrees to notify BluMatch promptly of any change in Licensee’s email address. 
            Licensee can do so by logging on to www.editfu.com and following the instructions 
            to change an email address (please include both Licensee’s old and new email address).
      %li
        %strong Collection of Online Account Information.
        BluMatch may collect Licensee’s online Login Information. Licensee hereby represents that Licensee is the legal 
        owner of Licensee’s Account Information accessed by and that Licensee has the authority to appoint BluMatch as Licensee’s agent, 
        use the Software and to give BluMatch Licensee’s Login Information and other information in connection 
        with Licensee’s use of the Services. Please be reminded that BluMatch does not review Licensee’s Account 
        Information and is not responsible for its completeness or accuracy. Any transactions or informational 
        activities Licensee performs at a Third Party website are not made through the EditFu Services or BluMatch 
        Software and BluMatch assumes no responsibility for those transactions or activities. Licensee is responsible 
        for all charges associated with Licensee’s dealings with Third Parties.
      %li
        %strong Copyright and Trademark Information.
        All content included or available on or through the EditFu Services and the www.editfu.com website, 
        including site design, text, graphics, interfaces, and the selection and arrangements thereof is the 
        exclusive property BluMatch, with all rights reserved, or is the property of BluMatch Affiliates and/or third 
        parties protected by intellectual property rights. Any use of materials on the website, including reproduction 
        for purposes other than those noted above, modification, distribution, or replication, any form of data 
        extraction or data mining, or other commercial exploitation of any kind, without prior written 
        permission of an authorized officer of BluMatch is strictly prohibited. Members agree that they will not use 
        any robot, spider, or other automatic device, or manual process to monitor or copy our web pages or the content 
        contained therein without prior written permission of an authorized officer of BluMatch. The EditFu 
        Services and the www.editfu.com website are property of BluMatch. BluMatch’s property may not be used in connection 
        with any product or service that is not provided by BluMatch, in any manner that is likely to cause confusion 
        among customers, or in any manner that disparages or discredits BluMatch. All other trademarks displayed on BluMatch’s 
        website are the trademarks of their respective owners, and constitute neither an endorsement 
        nor a recommendation of those vendors. In addition, such use of trademarks or links to the web sites of vendors 
        is not intended to imply, directly or indirectly, that those Vendors endorse or have any affiliation with BluMatch.  
        Licensee agrees not to modify the EditFu Services or the www.editfu.com website or any other website to mimic or 
        imply that it is accociated with BluMatch or the EditFu Services. Licensee further agrees not to duplicate, 
        copy or exploit any part of the EditFu Services or the www.editfu.com website without the prior written consent of BluMatch.
        %br
        The restrictions and intellectual property protections contained in this section apply to both 
        BluMatch as well as all BluMatch Affiliates and other Third Parties.
      %li
        %strong Feedback.
        BluMatch may provide Licensee with a mechanism to provide feedback, suggestions and ideas, if Licensee chooses, 
        about the Services and Software ("Feedback"). Licensee agrees that BluMatch may, in its sole discretion, 
        use the Feedback Licensee provides to BluMatch in any way, including in future modifications of the Software, 
        multimedia works and/or advertising and promotional materials relating thereto. Licensee hereby grants 
        BluMatch a perpetual, worldwide, fully transferable, non-revocable, royalty free license to use, modify, 
        create derivative works from, distribute and display any information Licensee provides to BluMatch in the Feedback.
      %li
        %strong Digital Millennium Copyright Act Compliance.
        Licensee agrees that Licensee will only upload, post, submit or otherwise transmit data and/or files: 
        (a) that Licensee has the lawful right to use, copy, distribute, transmit, or display; or (b) that does not 
        infringe the intellectual property rights or violate the privacy rights of any third party (including, without 
        limitation, copyright, trademark, patent, trade secret, or other intellectual property right, or moral right or right of publicity). 
        BluMatch has adopted and implemented a policy that permits the deletion of files or Content that violate(s) this policy, 
        and that permits the termination in appropriate circumstances of the Accounts of users who repeatedly 
        infringe or are believed to be or are charged with repeatedly infringing the rights of copyright holders.
        %br
        Additionally, pursuant to Section 512(c) of the Copyright Revision Act, as enacted through the Digital 
        Millennium Copyright Act, BluMatch designates the following individual as its agent for receipt of notifications 
        of claimed copyright infringement:
        %address
          Matt Norris
          %br
          By Telephone: (678) 871-8152
          %br
          By Email: legal@takeastep.me
          %br
      %li
        %strong Botnets.
        BluMatch retains the right, at our sole discretion, to terminate any accounts involved with botnets and related activities. 
        If any hostnames are used as command and control points for botnets, BluMatch reserves the right to direct 
        the involved hostnames to a honeypot, loopback address, logging facility, or any other destination at our discretion.
      %li
        %strong Spam; Viruses.
        Violation of the CAN-SPAM Act of 2003, or any state or federal law regulating e-mail services, constitutes an automatic 
        violation of this Agreement and BluMatch reserves the right to seek damages and other available relief against Customer, 
        as applicable.  Spam/E-mail/Usenet Abuse is strictly prohibited on the EditFu Services. Additionally, License is strictly 
        forbidden from transmitting any worms or viruses or any other code of a destructive nature and assumes all liability 
        for any violation of this section.
      %li
        %strong Spam Damages:
        Because spam related damages are often difficult to quantify, in those cases where the actual damages cannot be reasonably 
        calculated BluMatch reserves the right to seek from the Customer liquidated damages in the amount of five dollars (US$5.00) 
        for each piece of 'spam' or unsolicited bulk email transmitted from or otherwise connected with Customer's account, 
        in addition to any other rights and remedies BluMatch my have in contract, law and equity.
      %li
        %strong Interruption of Service; Force Majeure.
        Provision of the Services is subject to the availability and the operational limitations of the requisite equipment 
        and associated facilities. Licensee understands and agrees that temporary interruptions of the Service may occur as normal 
        events in the provision of the Service and that BluMatch will not be liable for such interruptions. Licensee further 
        understands and agrees that BluMatch has no control over third party networks Licensee may access in the course of 
        Licensee’s use of the Service, and therefore, delays and disruptions of other network transmissions are beyond 
        the control of BluMatch. BluMatch will not be liable for any failure of performance, if such 
        failure is due to any cause beyond BluMatch's reasonable control, including acts of God, 
        fire, explosion, vandalism, nuclear disaster, terrorism, cable cut, storm or other similar occurrence, any law, order or regulation 
        by any government, civil, or military authority, national emergencies, insurrections, riots, wars, labor difficulties, 
        supplier failures, shortages, breaches, or delays, or delays caused by Licensee or Licensee’s equipment.
      %li
        %strong Disclaimer of Warranties. 
        EXCEPT AS PROVIDED ABOVE, THE EDITFU SERVIES AND BLUMATCH SOFTWARE AND THE CONTENT AND/OR RELATED SERVICES ACCESSIBLE 
        THROUGH EITHER, ARE PROVIDED "AS IS" AND ON AN “AS AVAILABLE BASIS”, AND TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE 
        LAW, BLUMATCH AND ITS AFFILIATES, THIRD-PARTY CONTENT OR SERVICE PROVIDERS, DISTRIBUTORS, DEALERS OR SUPPLIERS 
        ("REPRESENTATIVES") DISCLAIM ALL OTHER REPRESENTATIONS AND WARRANTIES, EXPRESS OR IMPLIED, REGARDING THE EDITFU 
        SERVICES AND/OR BLUMATCH SOFTWARE, RELATED MATERIALS, CONTENT AND ANY SERVICES, INCLUDING THEIR FITNESS FOR A PARTICULAR 
        PURPOSE, SECURITY, QUALITY, MERCHANTABILITY, OR THEIR NONINFRINGEMENT. BLUMATCH DOES NOT WARRANT THAT THE EDITFU SERVICES 
        AND/OR BLUMATCH SOFTWARE OR ANY RELATED SERVICES OR CONTENT IS SECURE, OR IS FREE FROM BUGS, VIRUSES, ERRORS, OR OTHER 
        PROGRAM LIMITATIONS, INCLUDING BUT NOT LIMITED TO ACCURATE OR UPDATED THIRD-PARTY CONTENT, NOR DOES BLUMATCH WARRANT 
        ACCESS TO THE INTERNET OR TO ANY OTHER SERVICE OR CONTENT THROUGH THE EDITFU SERVICES AND/OR BLUMATCH SOFTWARE, OR CONTINUED 
        ACCESS TO ANY OF THE CONTENT AND/OR THE DATA ENTERED INTO THE EDITFU SERVICES DURING THE TRIAL PERIOD. LICENSEE IS SOLELY 
        RESPONSIBLE FOR ENSURING THAT LICENSEE’S USE OF THE BLUMATCH SOFTWARE, RELATED SERVICES OR CONTENT IS IN ACCORDANCE WITH 
        APPLICABLE LAW. IT IS LICENSEE’S RESPONSIBILITY TO KEEP ABREAST OF CHANGES IN LAWS, REGULATIONS AND ACCOUNTING PRACTICES 
        THAT AFFECT LICENSEE AND LICENSEE’S BUSINESS.
      %li
        %strong Third Party Content Disclaimer; Links to Third Party Sites.
        Materials provided by Third Party Providers have not been independently authenticated in whole or in part by BluMatch. 
        BluMatch does not provide, sell, license, or lease any of the materials other than those specifically identified as being 
        provided by BluMatch. This Service may be linked to other websites which are not under the control of and are not maintained by 
        BluMatch. BluMatch is not responsible for the content of those sites. Licensee should contact the site administrator or webmaster 
        for those Third Party sites if Licensee has any concerns regarding such links or the content located on such sites. 
        BluMatch is providing these links to Licensee only as a convenience, and the inclusion of any link to such sites does 
        not imply endorsement by BluMatch of those sites.
      %li
        %strong Limitation of Liability and Damages.
        LICENSEE’S EXCLUSIVE REMEDY AND THE ENTIRE LIABILITY OF BLUMATCH FOR ANY REASON SHALL BE LIMITED TO THE AMOUNT PAID 
        BY LICENSEE FOR THE EDITFU SERVICES TO BLUMATCH. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, BLUMATCH AND ITS 
        REPRESENTATIVES ARE NOT LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO: 
        DAMAGES FOR LOSS OF BUSINESS, TELECOMMUNICATION FAILURES, LOSS, CORRUPTION OR THEFT OF DATA, LOSS OF PROFITS OR INVESTMENT, OR THE LIKE), 
        WHETHER BASED ON BREACH OF CONTRACT, BREACH OF WARRANTY, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR OTHERWISE, 
        EVEN IF BLUMATCH OR ITS REPRESENTATIVES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY SET 
        FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. THIRD PARTY CONTENT AND/OR SERVICE PROVIDERS ARE NOT RESPONSIBLE 
        TO LICENSEE FOR ANY DAMAGES OR LOSSES ARISING FROM ANY USE OF THE CONTENT. BLUMATCH AND ITS REPRESENTATIVES' TOTAL LIABILITY 
        TO LICENSEE FOR ACTUAL DAMAGES FOR ANY CAUSE WHATSOEVER WILL BE LIMITED TO THE AMOUNT PAID BY LICENSEE FOR THE EDITFU SERVICES. 
        THE LIMITATIONS OF THE DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN BLUMATCH AND LICENSEE. 
        BLUMATCH WOULD NOT HAVE BEEN ABLE TO PROVIDE THE EDITFU SERVICES TO LICENSEE WITHOUT SUCH LIMITATIONS. 
      %li
        %strong Indemnification.
        Licensee agrees to defend, indemnify, and hold BluMatch, its officers, directors, employees and agents, harmless from and against
        any claims, liabilities, damages, losses and expenses, including, without limitation, reasonable attorneys' fees and costs, arising 
        out of or in any way connected with: (a) Licensee’s access to or use of the EditFu Services; (b) Licensee’s violation of this Agreement; 
        (c) Licensee’s violation or infringement of any third party right, including without limitation any patent, trademark, servicemark, 
        or copyright, or other intellectual property right, including but not limited to right of attribution, publicity, confidentiality, 
        property or privacy right; or (d) any claim that Licensee’s Content or data, or Licensee’s use of such Content or data, caused 
        damage to a third party, including without limitation claims that Licensee’s Files, or use of Files, infringe the rights of another.
      %li
        %strong Compliance with Laws.
        Licensee assumes all knowledge of applicable law and is responsible for compliance with all such laws. Licensee may not use the 
        EditFu Services in any way that violates applicable state, federal, or international law, regulations or other governmental requirements.  
        Licensee further agrees not to transmit any material that encourages conduct that could constitute a criminal offense, 
        give rise to civil liability or otherwise violate any applicable local, state, national, or international law or regulation.
      %li
        %strong Limitation on Time to Sue.
        Unless otherwise required by law, an action or proceeding by Licensee to enforce an obligation, duty, or right arising under 
        this End User License or by law with respect to the Software or Third Party Services must be commenced within 
        one year after the cause of action accrues.
      %li
        %strong Governing Law. 
        The terms of this Agreement shall be governed by and construed in accordance with the laws of the State of Georgia, 
        without effect to conflict of law principles.  Additionally, any action brought pursuant to Licensee’s use of the EditFu 
        Services or pursuant to the terms and conditions of this Agreement shall be brought within the jurisdiction of the courts of Fulton 
        County, Georgia.
      %li
        %strong Survival of Agreement.
        Provisions hereof related to release of claims, indemnification, use of information and data, payment for the EditFu 
        Services, disclaimer of warranties and any other provisions of this Agreement which, by its nature or terms, are contemplated 
        or should be expected to survive (or to be performed after) expiration or termination of this Agreement, will, in each case, 
        survive any cancellation or termination of this Agreement.
      %li
        %strong Invalid Provisions; Severability.
        It is the desire and intent of the parties hereto that the provisions of this Agreement be enforced to the fullest extent 
        permissible under the laws and public policies applied in each jurisdiction in which enforcement is sought.  Accordingly, 
        if any particular provision of this Agreement shall be adjudicated by a court of competent jurisdiction to be invalid, 
        prohibited or unenforceable for any reason, such provision, as to such jurisdiction, shall be ineffective, without 
        invalidating the remaining provisions of this Agreement or affecting the validity or enforceability of this Agreement 
        or affecting the validity or enforceability of such provision in any other jurisdiction.  Notwithstanding the foregoing, 
        if such provision could be more narrowly drawn so as not to be invalid, prohibited or unenforceable in such jurisdiction, 
        it shall, as to such jurisdiction, be so narrowly drawn, without invalidating the remaining provisions of this Agreement 
        or affecting the validity or enforceability of such provision in any other jurisdiction.
      %li
        %strong Entire Agreement.
        This Agreement represents the complete understanding and agreement of the parties hereto with respect to the subject 
        matter hereof and supersedes any prior or contemporaneous agreements, whether written or oral, between the parties.  
        This Agreement may not be modified or amended, except by a written instrument executed by each of the parties hereto.  
        This Agreement is for the sole benefit of the parties hereto and is not for the benefit of any third party.  The parties 
        hereto shall be deemed to be independent contractors hereunder, and as such, neither party shall be, nor hold itself out 
        to be, an employee or agent of the other party.  The language used in this Agreement shall be deemed to be language 
        chosen by both parties hereto to express its mutual intent, and no rule of strict construction against either 
        party shall apply to licenses granted herein or to any term of condition of this Agreement.
      %li
        %strong Waiver.
        No provision of this Agreement shall be deemed waived, amended or modified by either party, unless such waiver, 
        amendment or modification is in writing and signed by the party against whom enforcement of such waiver, 
        amendment or modification is sought.  The failure of a party to enforce at any time any of the provisions of this Agreement, 
        or the failure to require at any time performance by one or both of the parties of any of the provisions of this Agreement, 
        shall in no way be construed to be a present or future waiver of such provisions, nor in any way affect the ability of a party 
        to enforce each and every such provision thereafter.
      %li
        %strong Assignment and Delegation.
        No party may assign any of its rights under this Agreement, except with the prior written consent of the other party.  
        That party shall not unreasonably withhold its consent.  All assignments of rights are prohibited under this subsection, 
        whether they are voluntary or involuntary, by merger, consolidation, dissolution, operation of law, or any other manner.  
        For purposes of this Section: (a) a “change in control” is deemed an assignment of rights; and (b) “merger” 
        refers to any merger in which a party participates, regardless of whether it is the surviving or disappearing corporation. 
        No party may delegate any performance under this Agreement. Purported Assignment or Delegation Void.  Any purported 
        assignment of rights or delegation of performance in violation of this Section is void.
    %p
      BY CLICKING “ACCEPT” BELOW, LICENSEE HEREBY CERTIFY THAT LICENSEE ARE AUTHORIZED AND LEGALLY ENTITLED 
      TO ENTER THIS SERVICES LICENSE AGREEMENT.  BY CLICKING “ACCEPT” BELOW, LICENSEE FURTHER AGREE THAT LICENSEE
      AGREE TO AND SHALL BE BOUND BY EACH AND EVERY TERM CONTAINED IN THESE TERMS OF SERVICE.
        
      
        