
.text_of_terms_of_service#text_of_terms_of_service{:style => "display: none;"}
  %span.terms_cross
  = link_to_function "", "$('text_of_terms_of_service').hide();", :class => :close
  .text
    %h1 LICENCE AGREEMENT AND TERMS OF SERVICE
    %p 
      Thank you for selecting the EditFu Online Services (“EditFu”, the “EditFu Services”, or the “Services”). 
      This License Agreement and Terms of Service (the "Agreement") is a contract between you ("you" or "Licensee") 
      and BluMatch, LLC (“BluMatch”) that describes the terms and conditions applicable to your use of the Services. 
      Before using the Services, you must read and accept the terms and conditions contained in this Agreement. 
      If you do not accept this Agreement, you will not be able to use the Services. If you are evaluating the 
      Services through use thereof during the Trial Period and do not upgrade to the Pro-Plan within thirty (30) 
      days of enrollment, your Account will be suspended until such upgrade is purchased.
    
    %p
      TO UTILIZE THE EDITFU ONLINE SERVICES SERVICES, YOU MUST READ AND AGREE TO THE TERMS PROVIDED BELOW.  
      PLEASE READ THESE TERMS OF SERVICE CAREFULLY.  BY CLICKING “AGREE” BELOW, YOU ARE AGREEING TO BE BOUND 
      BY THESE TERMS OF SERVICE.  IF YOU DO NOT AGREE TO EACH AND ALL OF THE TERMS OF SERVICE PROVIDED BELOW, 
      PLEASE CLICK “DECLINE” AND DO NOT PROCEED TO THE NEXT PAGE.
  
    %p
      BluMatch reserves the right, at any time, to modify, alter, or update (a “Modification”) the terms 
      of this Agreement without prior notice. Modifications shall become effective immediately upon being 
      posted at the <a href="www.editfu.com">www.editfu.com website</a>.  Your continued use of the EditFu Services after any Modification(s) 
      has been posted shall constitute your acknowledgement and acceptance of such Modification(s).
  
    %h2 SERVICES LICENSE
  
    %ol
      %li 
        %strong Description of Services.  
        EditFu is a value-added website content editor tailored to the needs of website designers.  
        Use of EditFu allows website designers to provide their clients with the ability to self-update 
        the static content displayed on the clients’ websites without the need of purchasing a 
        costly Content Management System.
      %li 
        %strong Types of Accounts.
        Currently, BlueMatch offers both a restricted free account (a “Free Plan”) and a paid premium 
        account (a “Pro Plan”), each subject to the limitations described below. Please read this document 
        in its entirety regarding Account restrictions. BluMatch reserves the right, at any time, 
        to change the fees for access to and use of the www.editfu.com website and/or the Services, 
        as well as the contents of either.
        %ol
          %li 
            %strong Pro Plan.
            Subject to the limitations provided herein, the Pro Plan Services provides Licensee 
            with unlimited access to and use of the EditFu Services.  The Pro Plan allows Licensee 
            to create and access an unlimited number of websites.  Additionally, under the Pro Plan 
            there are no page number limitations to such websites.  The Pro Plan also allows an unlimited number 
            of Editors. The Pro Plan is made available for $24.95 per month (the “Service Fees”).
          %li
            %strong Free Plan.
            The Free Plan provides License with limited access to the EditFu Services. This limited 
            access allows licensee to create one (1) website containing no more than three (3) pages. 
            In addition, the Free Plan does not allow Editors to access the Services. 
            A maximum of one (1) Free Plan Account is available per Person.
      %li
        %strong Account.
        To access the EditFu Services, Licensee must establish an Account with BluMatch through 
        the www.editfu.com website. To establish an Account, Licensee must have a valid email address, 
        which will serve as Licensee’s login address. Licensee must also select a password, which will 
        be required each time Licensee wishes to access the Services, and provide his or her full legal 
        name. To purchase the Pro Plan, Licensee must also provide a valid credit or debit card, 
        which will be charged the Service Fees on a monthly basis. Licensee represents and warrants 
        that he or she is an authorized user of any such credit or debit card. No credit or debit 
        card is required during the Trial Period or for use of the Free Plan.
      %li
        %strong Trial Period. 
        For a period of thirty (30) days commencing on the Effective Date (the “Trial Period”), 
        Licensee shall have access to and is hereby granted a temporary, non-exclusive, non-transferable, 
        revocable license to use the full Pro Plan Service.  Should Licensee fail to Upgrade to the Pro Plan Services 
        within the Trial Period, Licensee’s access to the EditFu Services shall be suspended 
        (“Suspended”, or a “Suspension Period”) as provided below.