
.text_of_terms_of_service#text_of_terms_of_service{:style => "display: none;"}
  %span.terms_cross
  = link_to_function "", "$('text_of_terms_of_service').hide();", :class => :close
  .text
    %h1 LICENCE AGREEMENT AND TERMS OF SERVICE
    %p 
      Thank you for selecting the EditFu Online Services (&laquo;EditFu&raquo;, the &laquo;EditFu Services&raquo;, or&nbsp;the &laquo;Services&raquo;). 
      This License Agreement and Terms of&nbsp;Service (the &laquo;Agreement&raquo;) 
      is&nbsp;a&nbsp;contract between you (&laquo;you&raquo; or&nbsp;&laquo;Licensee&raquo;) 
      and BluMatch, LLC (&laquo;BluMatch&raquo;) that describes the terms and conditions applicable to&nbsp;your use of&nbsp;the Services. 
      Before using the Services, you must read and accept the terms and conditions contained in&nbsp;this Agreement. 
      If&nbsp;you do&nbsp;not accept this Agreement, you will not be&nbsp;able to&nbsp;use the Services. If&nbsp;you are evaluating the 
      Services through use thereof during the Trial Period and do&nbsp;not upgrade to&nbsp;the Pro-Plan within thirty (30) 
      days of&nbsp;enrollment, your Account will be&nbsp;suspended until such upgrade is&nbsp;purchased.

    %p
      TO&nbsp;UTILIZE THE EDITFU ONLINE SERVICES SERVICES, YOU MUST READ AND AGREE TO&nbsp;THE TERMS PROVIDED BELOW. 
      PLEASE READ THESE TERMS OF&nbsp;SERVICE CAREFULLY. BY&nbsp;CLICKING &laquo;AGREE&raquo; BELOW, YOU ARE AGREEING TO&nbsp;BE&nbsp;BOUND 
      BY&nbsp;THESE TERMS OF&nbsp;SERVICE. IF&nbsp;YOU DO&nbsp;NOT AGREE TO&nbsp;EACH AND ALL&nbsp;OF THE TERMS OF&nbsp;SERVICE PROVIDED BELOW, 
      PLEASE CLICK &laquo;DECLINE&raquo; AND DO&nbsp;NOT PROCEED TO&nbsp;THE NEXT PAGE.

    %p
      BluMatch reserves the right, at&nbsp;any time, to&nbsp;modify, alter, or&nbsp;update (a&nbsp;&laquo;Modification&raquo;) the terms 
      of&nbsp;this Agreement without prior notice. Modifications shall become effective immediately upon being 
      posted at&nbsp;the <a href="http://www.editfu.com">www.editfu.com website</a>. Your continued use of&nbsp;the EditFu Services after any Modification(s) 
      has been posted shall constitute your acknowledgement and acceptance of&nbsp;such Modification(s).  
    %h2 SERVICES LICENSE
  
    %ol
      %li 
        %strong Description of&nbsp;Services. 
        EditFu is&nbsp;a&nbsp;value-added website content editor tailored to&nbsp;the needs of&nbsp;website designers. 
        Use of&nbsp;EditFu allows website designers to&nbsp;provide their clients with the ability to&nbsp;self-update 
        the static content displayed on&nbsp;the clients&rsquo; websites without the need of&nbsp;purchasing a 
        costly Content Management System.
      %li 
        %strong Types of&nbsp;Accounts.
        Currently, BlueMatch offers both a&nbsp;restricted free account (a&nbsp;&laquo;Free Plan&raquo;) and a&nbsp;paid premium 
        account (a&nbsp;&laquo;Pro Plan&raquo;), each subject to&nbsp;the limitations described below. Please read this document 
        in&nbsp;its entirety regarding Account restrictions. BluMatch reserves the right, at&nbsp;any time, 
        to&nbsp;change the fees for access to&nbsp;and use of&nbsp;the <a href="http://www.editfu.com">www.editfu.com website</a> and/or the Services, 
        as&nbsp;well as&nbsp;the contents of&nbsp;either.
        %ol
          %li 
            %strong Pro Plan.
            Subject to&nbsp;the limitations provided herein, the Pro Plan Services provides Licensee 
            with unlimited access to&nbsp;and use of&nbsp;the EditFu Services. The Pro Plan allows Licensee 
            to&nbsp;create and access an&nbsp;unlimited number of&nbsp;websites. Additionally, under the Pro Plan 
            there are no&nbsp;page number limitations to&nbsp;such websites. The Pro Plan also allows an&nbsp;unlimited number 
            of&nbsp;Editors. The Pro Plan is&nbsp;made available for $24.95 per month (the &laquo;Service Fees&raquo;).
          %li
            %strong Free Plan.
            The Free Plan provides License with limited access to&nbsp;the EditFu Services. This limited 
            access allows licensee to&nbsp;create one (1) website containing no&nbsp;more than three (3) pages. 
            In&nbsp;addition, the Free Plan does not allow Editors to&nbsp;access the Services. 
            A&nbsp;maximum of&nbsp;one (1) Free Plan Account is&nbsp;available per Person.
          %li
            %strong Single Plan
            The Single Plan provides License with limited access to&nbsp;the EditFu Services. This limited access allows 
            licensee to&nbsp;create one (1) website containing unlimited pages. In&nbsp;addition, the Single Plan allows 
            unlimited Editors to&nbsp;access the Services. The Pro Plan is&nbsp;made available for $3&nbsp;per 
            month (the &laquo;Service Fees&raquo;).            
        %li
          %strong Account.
          To&nbsp;access the EditFu Services, Licensee must establish an&nbsp;Account with BluMatch through 
          the <a href="http://www.editfu.com">www.editfu.com website</a>. To&nbsp;establish an&nbsp;Account, Licensee must have a&nbsp;valid email address, 
          which will serve as&nbsp;Licensee&rsquo;s login address. Licensee must also select a&nbsp;password, which will 
          be&nbsp;required each time Licensee wishes to&nbsp;access the Services, and provide his or&nbsp;her full legal 
          name. To&nbsp;purchase the Pro Plan, Licensee must also provide a&nbsp;valid credit or&nbsp;debit card, 
          which will be&nbsp;charged the Service Fees on&nbsp;a&nbsp;monthly basis. Licensee represents and warrants 
          that he&nbsp;or&nbsp;she is&nbsp;an&nbsp;authorized user of&nbsp;any such credit or&nbsp;debit card. No&nbsp;credit or&nbsp;debit 
          card is&nbsp;required during the Trial Period or&nbsp;for use of&nbsp;the Free Plan.
        %li
          %strong Trial Period. 
          For a&nbsp;period of&nbsp;thirty (30) days commencing on&nbsp;the Effective Date (the &laquo;Trial Period&raquo;), 
          Licensee shall have access to&nbsp;and is&nbsp;hereby granted a&nbsp;temporary, non-exclusive, non-transferable, 
          revocable license to&nbsp;use the full Pro Plan Service. Should Licensee fail to&nbsp;Upgrade to&nbsp;the Pro Plan Services 
          within the Trial Period, Licensee&rsquo;s access to&nbsp;the EditFu Services shall be&nbsp;suspended 
          (&laquo;Suspended&raquo;, or&nbsp;a&nbsp;&laquo;Suspension Period&raquo;) as&nbsp;provided below.
        %li
          %strong Suspension Period.
          Should Licensee either (a) fail to&nbsp;upgrade to&nbsp;the Pro Plan before the end of&nbsp;the Trial Period; 
          or&nbsp;(b) fail timely to&nbsp;make any monthly Service Fee payment (subsequent to&nbsp;a&nbsp;previous Upgrade), 
          Licensee&rsquo;s Account shall be&nbsp;suspended. During a&nbsp;Suspension Period, Licensee&rsquo;s will be&nbsp;put on 
          hold and Licensee shall lose access to&nbsp;the Services and no&nbsp;updates shall be&nbsp;possible. Licensee&rsquo;s Account 
          shall remain suspended until Licensee elects either the Free Plan or&nbsp;the Pro Plan (and pays the 
          appropriate Service Fees, should Licensee select the Pro Plan), or&nbsp;in&nbsp;the case of&nbsp;nonpayment, 
          brings his or&nbsp;her Account current following a&nbsp;nonpayment-related suspension. Should Licensee 
          elect the Free Plan, Licensee will also be&nbsp;required to&nbsp;select to&nbsp;which website Licensee desires 
          to&nbsp;retain limited access (if&nbsp;Licensee had created more than one website during the Trial Period). 
        %li
          %strong Upgrade to&nbsp;Pro Plan.
          At&nbsp;any time during the Trial Period or&nbsp;a&nbsp;Suspension Period, Licensee may upgrade to&nbsp;the Pro Plan 
          by&nbsp;providing a&nbsp;valid credit or&nbsp;debit card through Licensee&rsquo;s Account (an&nbsp;&laquo;Upgrade&raquo;). In&nbsp;such event, 
          Licensee&rsquo;s credit or&nbsp;debit card shall be&nbsp;processed for the Service Fees and access to&nbsp;the full 
          Pro Plan Services shall be&nbsp;provided immediately. Pro Plan Service Fees for subsequent Terms 
          shall be&nbsp;processed every thirty (30) days thereafter.
        %li
          %strong Downgrades.
          Licensee may, at&nbsp;any time, downgrade from the Pro Plan Services to&nbsp;the Free Plan Services 
          (a&nbsp;&laquo;Downgrade&raquo;). By&nbsp;Downgrading to&nbsp;the Free Plan, Licensee may lose certain Content and features. 
          Licensee will be&nbsp;required to&nbsp;select to&nbsp;which website Licensee desires to&nbsp;retain limited access 
          (if&nbsp;Licensee has created more than one website). Licensee agrees that BluMatch shall not be&nbsp;liable 
          for any loss of&nbsp;Content associated with a&nbsp;Downgrade.
      %li 
        %strong License Grant. 
        %ol
          %li
            %strong Paid Plan.
            Upon purchase of&nbsp;and payment for the Paid Plan Services, BluMatch will grant Licensee a&nbsp;limited, 
            non-exclusive, non-transferable, revocable license to&nbsp;use the Pro Plan Services 
            (the &laquo;Pro Plan License&raquo;). The Pro Plan License shall last for the Initial Term or&nbsp;Renewal Term, 
            as&nbsp;the circumstances demand, and shall automatically renew on&nbsp;a&nbsp;monthly basis so&nbsp;long as 
            Licensee pays the Service Fees for each such Renewal period. The Pro Plan Services may not 
            be&nbsp;transferred to&nbsp;any other Person.
          %li
            %strong Free Plan.
            By&nbsp;agreeing to&nbsp;the terms of&nbsp;this Agreement, BluMatch grants Licensee a&nbsp;limited, non-exclusive, 
            non-transferable, revocable license to&nbsp;use the Free Plan services. Licensee&rsquo;s license to&nbsp;the 
            Free Plan may be&nbsp;revoked by&nbsp;BluMatch at&nbsp;any time with or&nbsp;without notice.
      %li
        %strong Reservation of&nbsp;Rights and Ownership.
        The EditFu Services and BluMatch Software in&nbsp;their entirety are protected by&nbsp;copyright laws. 
        The EditFu Services and BluMatch Software also contain the trade secrets of&nbsp;BluMatch and third 
        parties, and Licensee may not decompile, reverse engineer, disassemble, or&nbsp;otherwise reduce the 
        EditFu Services and/or BluMatch Software to&nbsp;human-perceivable form or&nbsp;disclose such trade secrets, 
        or&nbsp;disable any functionality which limits the use of&nbsp;the EditFu Services and/or BluMatch Software. 
        Licensee may not attempt to&nbsp;modify, adapt, translate, rent, sublicense, assign, loan, resell for 
        profit, distribute, or&nbsp;network the EditFu Services and/or BluMatch Software,
              
    %h2 TERMS OF SERVICE
    %ol
      %li
        %strong Definitions.
        As&nbsp;used herein, the following terms shall have the following meanings: (a) &laquo;Account&raquo; shall mean 
        each and every account for the EditFu Services whether presently active, suspended or&nbsp;cancelled, 
        opened by&nbsp;a&nbsp;Person through the <a href="http://www.editfu.com">www.editfu.com website</a>; 
        (b) &laquo;Account Holder&raquo; shall mean the individual 
        web designer or&nbsp;other Person who opens an&nbsp;Account for the Services; &copy;&nbsp;&laquo;Affiliate&raquo; shall mean shall 
        mean any legal entity or&nbsp;entities controlling or&nbsp;controlled by&nbsp;BluMatch, Inc., SteppingStone, or&nbsp;Licensee; 
        the term &laquo;control&raquo; as&nbsp;used herein means the right to&nbsp;exercise, directly or&nbsp;indirectly, more than fifty 
        percent (50%) of&nbsp;the voting rights attributable to&nbsp;the shares, partnership interests, 
        membership shares or&nbsp;similar evidences of&nbsp;ownership of&nbsp;such controlled entity; (d) &laquo;BluMatch&raquo; shall 
        mean BluMatch, LLC, SteppingStone and the Affiliates of&nbsp;each; (e) &laquo;Communications&raquo; shall mean any notice, 
        record, agreement, or&nbsp;other type of&nbsp;information that is&nbsp;made available to&nbsp;Licensee or&nbsp;received 
        from Licensee in&nbsp;connection with the Services and the Software; (f) &laquo;Content&raquo; shall mean all writings, 
        graphics, videos, information, or&nbsp;other data and/or electronic media posted or&nbsp;uploaded, 
        whether by&nbsp;Licensee or&nbsp;any Editor thereof, to&nbsp;<a href="http://www.editfu.com">www.editfu.com website</a> 
        or&nbsp;using the EditFu Services; 
        (g) &laquo;Damages&raquo; shall mean liabilities, losses, obligations, damages, costs, actions, suits, claims, 
        demands, settlements, judgments, penalties, fines, including punitive or&nbsp;exemplary damages and reasonable 
        attorney fees or&nbsp;other expenses; (h) &laquo;Editor&raquo; shall mean any Account Holder client that has been given 
        the ability to&nbsp;update website content through Account Holder; (i) &laquo;Effective Date&raquo; shall mean the date 
        upon which Licensee enrolls into the Pro Plan Services by&nbsp;consenting to&nbsp;this Agreement and paying the 
        Service Fees therefor; (j) &laquo;Initial Term&raquo; shall mean the first thirty (30) days from the Effective Date; 
        (k) &laquo;Login Information&raquo; shall mean Licensee&rsquo;s email address and password used to&nbsp;access Licensee&rsquo;s Account; 
        (l) &laquo;Person&raquo; shall mean any individual, business, group, or&nbsp;entity; (m) &laquo;Services&raquo; shall mean either or&nbsp;both, 
        as&nbsp;the circumstances or&nbsp;context require or&nbsp;requires, the Pro Plan and/or Free Plan described herein; 
        (n) &laquo;Software&raquo; or&nbsp;&laquo;BluMatch Software&raquo; shall mean the programming code created by&nbsp;BluMatch which implements 
        the EditFu Services; (o) &laquo;Subsequent Term&raquo; shall mean the first thirty (30) days following the last 
        day of&nbsp;the Initial Term or&nbsp;any Subsequent Term; (p) &laquo;Third Party Services&raquo; shall mean any services 
        provided through the EditFu Services or&nbsp;the <a href="http://www.editfu.com">www.editfu.com website</a> 
        or&nbsp;other services provided by&nbsp;any Person 
        that is&nbsp;not BluMatch or&nbsp;an&nbsp;Affiliate thereof; Third Party Services shall also include any open source 
        framework or&nbsp;source code available on&nbsp;or&nbsp;provided by&nbsp;the EditFu Services, 
        the <a href="http://www.editfu.com">www.editfu.com website</a>, 
        or&nbsp;BluMatch or&nbsp;any of&nbsp;its Affiliates; and (q) &laquo;Upgrade&raquo; shall mean Licensee&rsquo;s enrollment into 
        the Pro Plan Services by&nbsp;payment by&nbsp;Licensee of&nbsp;the Service Fees recited herein.
      %li
        %strong Term.
        The Term of&nbsp;this Agreement shall commence upon the Effective Date and continue for a&nbsp;period 
        of&nbsp;thirty (30) days (the &laquo;Initial Term), unless sooner terminated as&nbsp;set forth herein. 
        This Agreement shall thereafter automatically renew for succeeding terms of&nbsp;thirty (30) days (a&nbsp;&laquo;Renewal Term&raquo;) 
        unless Licensee cancels this Agreement pursuant to&nbsp;Section 4&nbsp;below prior to&nbsp;the expiration 
        of&nbsp;the Initial Term or&nbsp;any Renewal thereof. The Initial Term and any Renewal terms shall 
        collectively constitute the &laquo;Term&raquo; of&nbsp;this Agreement.
      %li
        %strong Termination.
        Any breach of&nbsp;the terms of&nbsp;this Agreement by&nbsp;Licensee shall constitute a&nbsp;default hereof. 
        Should Licensee so&nbsp;default on&nbsp;this Agreement, Licensee&rsquo;s license to&nbsp;use the EditFu Services, 
        BluMatch Software and the EditFu website shall automatically terminate. Additionally, 
        BluMatch reserves the right to&nbsp;revoke Licensee&rsquo;s access to&nbsp;and use of&nbsp;the Free Plan Services 
        at&nbsp;any time, with or&nbsp;without cause, and with or&nbsp;without notice. BluMatch also reserves 
        the right to&nbsp;cease providing or&nbsp;to&nbsp;change the Free Plan at&nbsp;any time and without notice. 
        Without limiting the generality of&nbsp;the foregoing, and without further notice, BluMatch may 
        choose to&nbsp;delete and/or reduce any or&nbsp;all of&nbsp;Licensee&rsquo;s Content if&nbsp;Licensee&rsquo;s Free 
        Plan Account is&nbsp;inactive for ninety (90) days. BluMatch also reserves the right to&nbsp;delete 
        and/or reduce at&nbsp;any time any or&nbsp;all of&nbsp;Licensee&rsquo;s Content uploaded or&nbsp;posted during the Trial Period.
      %li
        %strong Fees and Payment.
        Licensee agrees to&nbsp;pay all charges and fees as&nbsp;specified herein via the credit or&nbsp;debit card provided 
        by&nbsp;Licensee to&nbsp;purchase the Pro Plan Services. All Service Fees for the EditFu Services are billed in&nbsp;advance. 
        Licensee will be&nbsp;billed according to&nbsp;the terms and conditions of&nbsp;this Agreement. The Service Fees are 
        exclusive of&nbsp;all taxes, duties, or&nbsp;levies used by&nbsp;applicable authorities; Licensee accepts full 
        responsibility for any such charges, if&nbsp;applicable. The Pro 
        Plan Services are provided on&nbsp;a&nbsp;month-to-month basis and the monthly Service Fees are subject to&nbsp;change. 
        Payment for the Service is&nbsp;due on&nbsp;the first (1st) day of&nbsp;the Initial Term and each Subsequent Term. 
        If&nbsp;Licensee&rsquo;s credit or&nbsp;debit card is&nbsp;denied or&nbsp;rejected for any reason whatsoever, Licensee&rsquo;s Account 
        will be&nbsp;Suspended until the earlier of&nbsp;1) Licensee provides BluMatch a&nbsp;new, valid credit or&nbsp;debit 
        card and payment is&nbsp;processed thereon; or&nbsp;2) Licensee elects to&nbsp;Downgrade to&nbsp;a&nbsp;Free Plan 
        Account in&nbsp;accordance with Section 7&nbsp;above. Upon Licensee&rsquo;s provision of&nbsp;a&nbsp;new, valid credit or&nbsp;debit 
        card following a&nbsp;Suspension Period, Licensee&rsquo;s Account shall be&nbsp;restored to&nbsp;full functionality. 
        In&nbsp;addition, Licensee&rsquo;s billing period and billing date shall recommence upon time of&nbsp;such payment 
        following a&nbsp;Suspension Period, and such date shall be&nbsp;considered the new effective date (a&nbsp;&laquo;New Effective Date&raquo;) 
        of&nbsp;this Agreement. Subsequent monthly payments shall be&nbsp;debited every thirty (30) days from this New Effective Date.
        %br
        In&nbsp;the event Licensee fails to&nbsp;pay charges, BluMatch may suspend or&nbsp;terminate Licensee&rsquo;s Service and may assign 
        unpaid late balances to&nbsp;a&nbsp;collection agency for appropriate action. In&nbsp;the event legal 
        action is&nbsp;necessary to&nbsp;collect on&nbsp;balances due, Licensee agrees to&nbsp;reimburse BluMatch for all expenses 
        incurred to&nbsp;recover sums due, including attorneys&rsquo; fees and other legal expenses. Licensee will 
        also be&nbsp;charged a&nbsp;fee for any credit or&nbsp;debit card transaction that is&nbsp;denied by&nbsp;the financial 
        institution issuing such credit or&nbsp;debit card. BluMatch may modify its billing practices or&nbsp;late 
        payment charges by&nbsp;providing Licensee with prior written notice of&nbsp;the modification. Notice of&nbsp;such 
        changes may be&nbsp;posted in&nbsp;the EditFu Services, on&nbsp;the 
        <a href="http://www.editfu.com">www.editfu.com website</a>, or&nbsp;BluMatch&rsquo;s marketing 
        website located at&nbsp;editfuapp.com, or&nbsp;Licensee may be&nbsp;notified via email.
      %li
        %strong Cancellations.
        Licensee may cancel this Agreement at&nbsp;any time through the EditFu website located at&nbsp;<a href="http://www.editfu.com">www.editfu.com</a>. 
        To&nbsp;cancel, Licensee must sign into his or&nbsp;her Account and under &laquo;Preferences&raquo;, click on&nbsp;the &laquo;Cancellation&raquo; 
        link (a&nbsp;&laquo;Cancellation&raquo;). Cancellations will not be&nbsp;accepted via telephone or&nbsp;email. 
        Licensee is&nbsp;fully responsible for cancelling his or&nbsp;her Account. A&nbsp;Cancellation 
        will be&nbsp;effective and all of&nbsp;Licensee&rsquo;s Content shall be&nbsp;removed immediately. Licensee shall be&nbsp;solely and exclusively 
        responsible for the removal of&nbsp;any such Content upon a&nbsp;cancellation and is&nbsp;responsible for making a&nbsp;copy of&nbsp;any 
        such Content Licensee wishes to&nbsp;save. No&nbsp;refunds, pro-rated or&nbsp;otherwise, will be&nbsp;honored for any 
        cancellation made prior to&nbsp;the end of&nbsp;the then-present Term.
        %br
        BluMatch has the right at&nbsp;any point to&nbsp;cancel or&nbsp;suspend Licensee&rsquo;s Account and deny use of&nbsp;it&nbsp;and 
        all future services at&nbsp;any point in&nbsp;time for any reason. Canceling an&nbsp;account can lead to&nbsp;deletion of&nbsp;your 
        account or&nbsp;blocked access. Refusing service to&nbsp;anyone at&nbsp;any point in&nbsp;time is&nbsp;a&nbsp;right BluMatch 
        reserves to&nbsp;use whenever we&nbsp;see fit.
      %li
        %strong Access.
        Licensee represents and warrants that he&nbsp;or&nbsp;she is&nbsp;at&nbsp;least eighteen (18) years of&nbsp;age. 
        Licensee is&nbsp;responsible for providing, at&nbsp;Licensee&rsquo;s expense, any access to&nbsp;the Internet and any required equipment. 
        Further, BluMatch may at&nbsp;any time change or&nbsp;discontinue any aspect, availability or&nbsp;feature of&nbsp;the Services. 
        Licensee&rsquo;s access to&nbsp;the Services may be&nbsp;limited from time to&nbsp;time, depending on&nbsp;the service 
        provided by&nbsp;Licensee&rsquo;s Internet service provider or&nbsp;other third party. Licensee agrees to&nbsp;be&nbsp;responsible 
        for all telephone and/or Internet charges associated with Licensee&rsquo;s Internet and Service usage. 
        Licensee&rsquo;s use of&nbsp;the Services may be&nbsp;subject to&nbsp;additional terms and conditions. 
        All Services are subject to&nbsp;change. If&nbsp;and when Licensee connects to&nbsp;the Internet to&nbsp;update Licensee&rsquo;s data, 
        BluMatch may also include EditFu Services and/or BluMatch Software updates (i.e., software maintenance, 
        service information, help content, etc.) in&nbsp;the update transmission.
      %li
        %strong Account Security; Restrictions.
        Licensee is&nbsp;responsible for safeguarding the password that Licensee use to&nbsp;access the EditFu Services, 
        Licensee&rsquo;s Content, and the <a href="http://www.editfu.com">www.editfu.com website</a>. Licensee agrees not to&nbsp;disclose Licensee&rsquo;s 
        password to&nbsp;any third party. Licensee agrees to&nbsp;take sole responsibility for any activities 
        or&nbsp;actions under Licensee&rsquo;s password, whether or&nbsp;not Licensee has authorized such activities or&nbsp;actions. 
        Licensee will immediately notify BluMatch of&nbsp;any unauthorized use of&nbsp;Licensee&rsquo;s password. Licensee 
        acknowledges that if&nbsp;Licensee wishes to&nbsp;protect Licensee&rsquo;s transmission of&nbsp;data and/or files to&nbsp;BluMatch, 
        it&nbsp;is&nbsp;Licensee&rsquo;s responsibility to&nbsp;use a&nbsp;secure encrypted connection to&nbsp;communicate with and/or utilize 
        the EditFu Services, BluMatch Software and <a href="http://www.editfu.com">www.editfu.com website</a>. Licensee further acknowledges and agrees 
        that BluMatch shall not be&nbsp;liable for any Damages resulting from Licensee&rsquo;s failure to&nbsp;comply with this section. 
        %br
        Licensee shall be&nbsp;solely and exclusively responsible for any and all Content posted by&nbsp;Licensee or&nbsp;any Editor 
        provided access to&nbsp;the EditFu Services through Licensee. Any form of&nbsp;abuse (including threats) to&nbsp;any BluMatch 
        employee, customer, or&nbsp;officer shall lead to&nbsp;immediate termination of&nbsp;Licensee&rsquo;s Account. BluMatch reserves 
        the right, but is&nbsp;not obligated&nbsp;to, remove or&nbsp;takedown any sites that BluMatch determines are unlawful, 
        offense, violative of&nbsp;intellectual property rights, or&nbsp;violative of&nbsp;this Agreement.
        %br
        Licensee understands that the technical processing and transmission of&nbsp;the Service, 
        including Licensee&rsquo;s Content, may be&nbsp;transferred unencrypted and involve (a) transmissions over 
        various networks; and (b) changes to&nbsp;conform and adapt to&nbsp;technical requirements of&nbsp;connecting 
        networks or&nbsp;devices.
      %li
        %strong Bandwidth Limitation.
        If&nbsp;Licensee&rsquo;s bandwidth use exceeds 250 megabytes per month or&nbsp;exceeds the bandwidth usage 
        of&nbsp;BluMatch&rsquo;s average customer, BluMatch shall be&nbsp;entitled to&nbsp;warn, suspend, or&nbsp;cancel 
        (following adequate warning and a&nbsp;time to&nbsp;cure) Licensee&rsquo;s Account(s).
      %li 
        %strong Technical Support.
        Technical support is&nbsp;only provided to&nbsp;Persons who have enrolled into and paid for the Pro Plan Services. 
        Such support is&nbsp;only available via email.
      %li 
        %strong Consent to Conduct Business Electronically ("Consent").
        %ol
          %li
            %em Consent to&nbsp;Electronic Communications.
            BluMatch may be&nbsp;required by&nbsp;law to&nbsp;send Communications to&nbsp;Licensee that may pertain to&nbsp;the EditFu Services 
            or&nbsp;BluMatch Software, the use of&nbsp;information Licensee may submit to&nbsp;BluMatch, and the Services Licensee chooses. 
            Licensee agrees that BluMatch, on&nbsp;behalf of&nbsp;itself, and others who administer such services (as&nbsp;applicable), 
            may send Communications to&nbsp;Licensee by&nbsp;email and/or may make Communications available to&nbsp;Licensee 
            by&nbsp;posting them at&nbsp;one or&nbsp;more of&nbsp;BluMatch&rsquo;s sponsored websites, 
            such as&nbsp;<a href="http://www.editfu.com">www.editfu.com</a>. 
            Licensee consents to&nbsp;receive these Communications electronically.
          %li
            %em Consenting to&nbsp;Do&nbsp;Business Electronically.
            The decision whether to&nbsp;do&nbsp;business electronically is&nbsp;Licensee&rsquo;s, and Licensee should consider whether 
            Licensee has the required hardware and software capabilities described below. Licensee&rsquo;s consent to&nbsp;do&nbsp;business 
            electronically and this Agreement to&nbsp;do&nbsp;so&nbsp;covers all transactions Licensee conducts through the Services 
            for as&nbsp;long as&nbsp;Licensee remains a&nbsp;subscriber to&nbsp;the Services.
          %li
            %em Hardware and Software Requirements.
            In&nbsp;order to&nbsp;access and retain an&nbsp;electronic record of&nbsp;Communications, Licensee will need: a&nbsp;computer, 
            a&nbsp;monitor, a&nbsp;connection to&nbsp;an&nbsp;Internet service provider, Internet browser software that supports 
            <nobr>128-bit</nobr> encryption, and an&nbsp;e-mail address. By&nbsp;clicking on&nbsp;the 
            &laquo;Accept&raquo; button below, Licensee is&nbsp;confirming 
            to&nbsp;BluMatch that Licensee has the means to&nbsp;access, and to&nbsp;print or&nbsp;download, Communications. 
            BluMatch does not provide ISP services. Licensee must have Licensee&rsquo;s own Internet service provider.
          %li
            %em Withdrawal of&nbsp;Consent.
            If&nbsp;Licensee later decides that Licensee does not want to&nbsp;receive future Communications electronically, 
            Licensee must write to&nbsp;BluMatch at&nbsp;BluMatch, LLC, 6940 Roswell Rd., Unit 1b, Atlanta, Georgia 30328. 
            If&nbsp;Licensee withdraws Licensee&rsquo;s consent to&nbsp;receive Communications electronically, 
            BluMatch may terminate Licensee&rsquo;s use of&nbsp;the Services.
          %li
            %em Changes to&nbsp;Licensee&rsquo;s Email Address.
            Licensee agrees to&nbsp;notify BluMatch promptly of&nbsp;any change in&nbsp;Licensee&rsquo;s email address. 
            Licensee can do&nbsp;so&nbsp;by&nbsp;logging on&nbsp;to&nbsp;<a href="http://www.editfu.com">www.editfu.com</a> and following the instructions 
            to&nbsp;change an&nbsp;email address (please include both Licensee&rsquo;s old and new email address).
      %li
        %strong Collection of&nbsp;Online Account Information.
        BluMatch may collect Licensee&rsquo;s online Login Information. Licensee hereby represents that Licensee is&nbsp;the legal 
        owner of&nbsp;Licensee&rsquo;s Account Information accessed by&nbsp;and that Licensee has the authority 
        to&nbsp;appoint BluMatch as&nbsp;Licensee&rsquo;s agent, 
        use the Software and to&nbsp;give BluMatch Licensee&rsquo;s Login Information and other information in&nbsp;connection 
        with Licensee&rsquo;s use of&nbsp;the Services. Please be&nbsp;reminded that BluMatch does not review Licensee&rsquo;s Account 
        Information and is&nbsp;not responsible for its completeness or&nbsp;accuracy. Any transactions or&nbsp;informational 
        activities Licensee performs at&nbsp;a&nbsp;Third Party website are not made through the EditFu Services or&nbsp;BluMatch 
        Software and BluMatch assumes no&nbsp;responsibility for those transactions or&nbsp;activities. Licensee is&nbsp;responsible 
        for all charges associated with Licensee&rsquo;s dealings with Third Parties.
      %li
        %strong Copyright and Trademark Information.
        All content included or&nbsp;available on&nbsp;or&nbsp;through the EditFu Services and the <a href="http://www.editfu.com">www.editfu.com website</a>, 
        including site design, text, graphics, interfaces, and the selection and arrangements thereof is&nbsp;the 
        exclusive property BluMatch, with all rights reserved, or&nbsp;is&nbsp;the property of&nbsp;BluMatch Affiliates and/or third 
        parties protected by&nbsp;intellectual property rights. Any use of&nbsp;materials on&nbsp;the website, including reproduction 
        for purposes other than those noted above, modification, distribution, or&nbsp;replication, any form of&nbsp;data 
        extraction or&nbsp;data mining, or&nbsp;other commercial exploitation of&nbsp;any kind, without prior written 
        permission of&nbsp;an&nbsp;authorized officer of&nbsp;BluMatch is&nbsp;strictly prohibited. Members agree that they will not use 
        any robot, spider, or&nbsp;other automatic device, or&nbsp;manual process to&nbsp;monitor or&nbsp;copy our web pages or&nbsp;the content 
        contained therein without prior written permission of&nbsp;an&nbsp;authorized officer of&nbsp;BluMatch. The EditFu 
        Services and the <a href="http://www.editfu.com">www.editfu.com website</a> are property of&nbsp;BluMatch. 
        BluMatch&rsquo;s property may not be&nbsp;used in&nbsp;connection 
        with any product or&nbsp;service that is&nbsp;not provided by&nbsp;BluMatch, in&nbsp;any manner that is&nbsp;likely to&nbsp;cause confusion 
        among customers, or&nbsp;in&nbsp;any manner that disparages or&nbsp;discredits BluMatch. All other trademarks displayed on&nbsp;BluMatch&rsquo;s 
        website are the trademarks of&nbsp;their respective owners, and constitute neither an&nbsp;endorsement 
        nor a&nbsp;recommendation of&nbsp;those vendors. In&nbsp;addition, such use of&nbsp;trademarks or&nbsp;links to&nbsp;the web sites of&nbsp;vendors 
        is&nbsp;not intended to&nbsp;imply, directly or&nbsp;indirectly, that those Vendors endorse or&nbsp;have any affiliation with BluMatch. 
        Licensee agrees not to&nbsp;modify the EditFu Services or&nbsp;the <a href="http://www.editfu.com">www.editfu.com website</a> 
        or&nbsp;any other website to&nbsp;mimic or 
        imply that it&nbsp;is&nbsp;accociated with BluMatch or&nbsp;the EditFu Services. Licensee further agrees not to&nbsp;duplicate, 
        copy or&nbsp;exploit any part of&nbsp;the EditFu Services or&nbsp;the <a href="http://www.editfu.com">www.editfu.com website</a> 
        without the prior written consent of&nbsp;BluMatch.
        %br
        The restrictions and intellectual property protections contained in&nbsp;this section apply to&nbsp;both 
        BluMatch as&nbsp;well as&nbsp;all BluMatch Affiliates and other Third Parties.
      %li
        %strong Feedback.
        BluMatch may provide Licensee with a&nbsp;mechanism to&nbsp;provide feedback, suggestions and ideas, if&nbsp;Licensee chooses, 
        about the Services and Software (&laquo;Feedback&raquo;). Licensee agrees that BluMatch may, in&nbsp;its sole discretion, 
        use the Feedback Licensee provides to&nbsp;BluMatch in&nbsp;any way, including in&nbsp;future modifications of&nbsp;the Software, 
        multimedia works and/or advertising and promotional materials relating thereto. Licensee hereby grants 
        BluMatch a&nbsp;perpetual, worldwide, fully transferable, non-revocable, royalty free license to&nbsp;use, modify, 
        create derivative works from, distribute and display any information Licensee provides to&nbsp;BluMatch in&nbsp;the Feedback.
      %li
        %strong Digital Millennium Copyright Act Compliance.
        Licensee agrees that Licensee will only upload, post, submit or&nbsp;otherwise transmit data and/or files: 
        (a) that Licensee has the lawful right to&nbsp;use, copy, distribute, transmit, or&nbsp;display; or&nbsp;(b) that does not 
        infringe the intellectual property rights or&nbsp;violate the privacy rights of&nbsp;any third party (including, without 
        limitation, copyright, trademark, patent, trade secret, or&nbsp;other intellectual property right, or&nbsp;moral right or&nbsp;right of&nbsp;publicity). 
        BluMatch has adopted and implemented a&nbsp;policy that permits the deletion of&nbsp;files or&nbsp;Content that violate(s) this policy, 
        and that permits the termination in&nbsp;appropriate circumstances of&nbsp;the Accounts of&nbsp;users who repeatedly 
        infringe or&nbsp;are believed to&nbsp;be&nbsp;or&nbsp;are charged with repeatedly infringing the rights of&nbsp;copyright holders.
        %br
        Additionally, pursuant to&nbsp;Section 512&copy; of&nbsp;the Copyright Revision Act, as&nbsp;enacted through the Digital 
        Millennium Copyright Act, BluMatch designates the following individual as&nbsp;its agent for receipt of&nbsp;notifications 
        of&nbsp;claimed copyright infringement:
        %address
          Matt Norris
          %br
          By Telephone: (678) 871-8152
          %br
          By Email: legal@takeastep.me
          %br
      %li
        %strong Botnets.
        BluMatch retains the right, at&nbsp;our sole discretion, to&nbsp;terminate any accounts involved with botnets and related activities. 
        If&nbsp;any hostnames are used as&nbsp;command and control points for botnets, BluMatch reserves the right to&nbsp;direct 
        the involved hostnames to&nbsp;a&nbsp;honeypot, loopback address, logging facility, or&nbsp;any other destination at&nbsp;our discretion.
      %li
        %strong Spam; Viruses.
        Violation of&nbsp;the CAN-SPAM Act of&nbsp;2003, or&nbsp;any state or&nbsp;federal law regulating e-mail services, constitutes an&nbsp;automatic 
        violation of&nbsp;this Agreement and BluMatch reserves the right to&nbsp;seek damages and other available relief against Customer, 
        as&nbsp;applicable. Spam/E-mail/Usenet Abuse is&nbsp;strictly prohibited on&nbsp;the EditFu Services. Additionally, License is&nbsp;strictly 
        forbidden from transmitting any worms or&nbsp;viruses or&nbsp;any other code of&nbsp;a&nbsp;destructive nature and assumes all liability 
        for any violation of&nbsp;this section.
      %li
        %strong Spam Damages:
        Because spam related damages are often difficult to&nbsp;quantify, in&nbsp;those cases where the actual damages cannot be&nbsp;reasonably 
        calculated BluMatch reserves the right to&nbsp;seek from the Customer liquidated damages in&nbsp;the amount of&nbsp;five dollars (US$5.00) 
        for each piece of &rsquo;spam&rsquo; or&nbsp;unsolicited bulk email transmitted from or&nbsp;otherwise connected with Customer&rsquo;s account, 
        in&nbsp;addition to&nbsp;any other rights and remedies BluMatch my&nbsp;have in&nbsp;contract, law and equity.
      %li
        %strong Interruption of Service; Force Majeure.
        Provision of&nbsp;the Services is&nbsp;subject to&nbsp;the availability and the operational limitations of&nbsp;the requisite equipment 
        and associated facilities. Licensee understands and agrees that temporary interruptions of&nbsp;the Service may occur as&nbsp;normal 
        events in&nbsp;the provision of&nbsp;the Service and that BluMatch will not be&nbsp;liable for such interruptions. Licensee further 
        understands and agrees that BluMatch has no&nbsp;control over third party networks Licensee may access in&nbsp;the course of 
        Licensee&rsquo;s use of&nbsp;the Service, and therefore, delays and disruptions of&nbsp;other network transmissions are beyond 
        the control of&nbsp;BluMatch. BluMatch will not be&nbsp;liable for any failure of&nbsp;performance, if&nbsp;such 
        failure is&nbsp;due to&nbsp;any cause beyond BluMatch&rsquo;s reasonable control, including acts of&nbsp;God, 
        fire, explosion, vandalism, nuclear disaster, terrorism, cable cut, storm or&nbsp;other similar occurrence, any law, order or&nbsp;regulation 
        by&nbsp;any government, civil, or&nbsp;military authority, national emergencies, insurrections, riots, wars, labor difficulties, 
        supplier failures, shortages, breaches, or&nbsp;delays, or&nbsp;delays caused by&nbsp;Licensee or&nbsp;Licensee&rsquo;s equipment.
      %li
        %strong Disclaimer of Warranties. 
        EXCEPT AS&nbsp;PROVIDED ABOVE, THE EDITFU SERVIES AND BLUMATCH SOFTWARE AND THE CONTENT AND/OR RELATED SERVICES ACCESSIBLE 
        THROUGH EITHER, ARE PROVIDED &laquo;AS&nbsp;IS&raquo; AND ON&nbsp;AN&nbsp;&laquo;AS&nbsp;AVAILABLE BASIS&raquo;, 
        AND TO&nbsp;THE MAXIMUM EXTENT PERMITTED BY&nbsp;APPLICABLE 
        LAW, BLUMATCH AND ITS AFFILIATES, THIRD-PARTY CONTENT OR&nbsp;SERVICE PROVIDERS, DISTRIBUTORS, DEALERS OR&nbsp;SUPPLIERS 
        (&laquo;REPRESENTATIVES&raquo;) DISCLAIM&nbsp;ALL&nbsp;OTHER REPRESENTATIONS AND WARRANTIES, EXPRESS OR&nbsp;IMPLIED, REGARDING THE EDITFU 
        SERVICES AND/OR BLUMATCH SOFTWARE, RELATED MATERIALS, CONTENT AND ANY SERVICES, INCLUDING THEIR FITNESS FOR A&nbsp;PARTICULAR 
        PURPOSE, SECURITY, QUALITY, MERCHANTABILITY, OR&nbsp;THEIR NONINFRINGEMENT. BLUMATCH DOES NOT WARRANT THAT THE EDITFU SERVICES 
        AND/OR BLUMATCH SOFTWARE OR&nbsp;ANY RELATED SERVICES OR&nbsp;CONTENT IS&nbsp;SECURE, OR&nbsp;IS&nbsp;FREE FROM BUGS, VIRUSES, ERRORS, OR&nbsp;OTHER 
        PROGRAM LIMITATIONS, INCLUDING BUT NOT LIMITED TO&nbsp;ACCURATE OR&nbsp;UPDATED THIRD-PARTY CONTENT, NOR DOES BLUMATCH WARRANT 
        ACCESS TO&nbsp;THE INTERNET OR&nbsp;TO&nbsp;ANY OTHER SERVICE OR&nbsp;CONTENT THROUGH THE EDITFU SERVICES AND/OR BLUMATCH SOFTWARE, OR&nbsp;CONTINUED 
        ACCESS TO&nbsp;ANY OF&nbsp;THE CONTENT AND/OR THE DATA ENTERED INTO THE EDITFU SERVICES DURING THE TRIAL PERIOD. LICENSEE IS&nbsp;SOLELY 
        RESPONSIBLE FOR ENSURING THAT LICENSEE&rsquo;S USE OF&nbsp;THE BLUMATCH SOFTWARE, RELATED SERVICES OR&nbsp;CONTENT IS&nbsp;IN&nbsp;ACCORDANCE WITH 
        APPLICABLE LAW. IT&nbsp;IS&nbsp;LICENSEE&rsquo;S RESPONSIBILITY TO&nbsp;KEEP ABREAST OF&nbsp;CHANGES IN&nbsp;LAWS, REGULATIONS AND ACCOUNTING PRACTICES 
        THAT AFFECT LICENSEE AND LICENSEE&rsquo;S BUSINESS.
      %li
        %strong Third Party Content Disclaimer; Links to Third Party Sites.
        Materials provided by&nbsp;Third Party Providers have not been independently authenticated in&nbsp;whole or&nbsp;in&nbsp;part by&nbsp;BluMatch. 
        BluMatch does not provide, sell, license, or&nbsp;lease any of&nbsp;the materials other than those specifically identified as&nbsp;being 
        provided by&nbsp;BluMatch. This Service may be&nbsp;linked to&nbsp;other websites which are not under the control of&nbsp;and are not maintained by 
        BluMatch. BluMatch is&nbsp;not responsible for the content of&nbsp;those sites. Licensee should contact the site administrator or&nbsp;webmaster 
        for those Third Party sites if&nbsp;Licensee has any concerns regarding such links or&nbsp;the content located on&nbsp;such sites. 
        BluMatch is&nbsp;providing these links to&nbsp;Licensee only as&nbsp;a&nbsp;convenience, and the inclusion of&nbsp;any link to&nbsp;such sites does 
        not imply endorsement by&nbsp;BluMatch of&nbsp;those sites.
      %li
        %strong Limitation of Liability and Damages.
        LICENSEE&rsquo;S EXCLUSIVE REMEDY AND THE ENTIRE LIABILITY OF&nbsp;BLUMATCH FOR ANY REASON SHALL&nbsp;BE LIMITED TO&nbsp;THE AMOUNT PAID 
        BY&nbsp;LICENSEE FOR THE EDITFU SERVICES TO&nbsp;BLUMATCH. TO&nbsp;THE MAXIMUM EXTENT PERMITTED BY&nbsp;APPLICABLE LAW, BLUMATCH AND ITS 
        REPRESENTATIVES ARE NOT LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, OR&nbsp;CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO: 
        DAMAGES FOR LOSS OF&nbsp;BUSINESS, TELECOMMUNICATION FAILURES, LOSS, CORRUPTION OR&nbsp;THEFT OF&nbsp;DATA, 
        LOSS OF&nbsp;PROFITS OR&nbsp;INVESTMENT, OR&nbsp;THE LIKE), 
        WHETHER BASED ON&nbsp;BREACH OF&nbsp;CONTRACT, BREACH OF&nbsp;WARRANTY, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR&nbsp;OTHERWISE, 
        EVEN IF&nbsp;BLUMATCH OR&nbsp;ITS REPRESENTATIVES HAVE BEEN ADVISED OF&nbsp;THE POSSIBILITY OF&nbsp;SUCH DAMAGES, AND EVEN IF&nbsp;A&nbsp;REMEDY SET 
        FORTH HEREIN IS&nbsp;FOUND TO&nbsp;HAVE FAILED OF&nbsp;ITS ESSENTIAL PURPOSE. THIRD PARTY CONTENT AND/OR SERVICE PROVIDERS ARE NOT RESPONSIBLE 
        TO&nbsp;LICENSEE FOR ANY DAMAGES OR&nbsp;LOSSES ARISING FROM ANY USE OF&nbsp;THE CONTENT. BLUMATCH AND ITS REPRESENTATIVES&rsquo; TOTAL LIABILITY 
        TO&nbsp;LICENSEE FOR ACTUAL DAMAGES FOR ANY CAUSE WHATSOEVER WILL&nbsp;BE LIMITED TO&nbsp;THE AMOUNT PAID&nbsp;BY LICENSEE FOR THE EDITFU SERVICES. 
        THE LIMITATIONS OF&nbsp;THE DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF&nbsp;THE BASIS OF&nbsp;THE BARGAIN BETWEEN BLUMATCH AND LICENSEE. 
        BLUMATCH WOULD&nbsp;NOT HAVE BEEN ABLE TO&nbsp;PROVIDE THE EDITFU SERVICES TO&nbsp;LICENSEE WITHOUT SUCH LIMITATIONS.
      %li
        %strong Indemnification.
        Licensee agrees to&nbsp;defend, indemnify, and hold BluMatch, its officers, directors, employees and agents, harmless from and against
        any claims, liabilities, damages, losses and expenses, including, without limitation, reasonable attorneys&rsquo; fees and costs, arising 
        out of&nbsp;or&nbsp;in&nbsp;any way connected with: (a) Licensee&rsquo;s access to&nbsp;or&nbsp;use of&nbsp;the EditFu Services; 
        (b) Licensee&rsquo;s violation of&nbsp;this Agreement; 
        &copy;&nbsp;Licensee&rsquo;s violation or&nbsp;infringement of&nbsp;any third party right, including without limitation
        any patent, trademark, servicemark, or&nbsp;copyright, or&nbsp;other intellectual property right, including but 
        not limited to&nbsp;right of&nbsp;attribution, publicity, confidentiality, property or&nbsp;privacy right; or&nbsp;(d) any 
        claim that Licensee&rsquo;s Content or&nbsp;data, or&nbsp;Licensee&rsquo;s use of&nbsp;such Content or&nbsp;data, caused 
        damage to&nbsp;a&nbsp;third party, including without limitation claims that Licensee&rsquo;s Files, 
        or&nbsp;use of&nbsp;Files, infringe the rights of&nbsp;another.
      %li
        %strong Compliance with Laws.
        Licensee assumes all knowledge of&nbsp;applicable law and is&nbsp;responsible for compliance with all such laws. Licensee may not use the 
        EditFu Services in&nbsp;any way that violates applicable state, federal, or&nbsp;international law, regulations or&nbsp;other governmental requirements. 
        Licensee further agrees not to&nbsp;transmit any material that encourages conduct that could constitute a&nbsp;criminal offense, 
        give rise to&nbsp;civil liability or&nbsp;otherwise violate any applicable local, state, national, or&nbsp;international law or&nbsp;regulation.
      %li
        %strong Limitation on Time to Sue.
        Unless otherwise required by&nbsp;law, an&nbsp;action or&nbsp;proceeding by&nbsp;Licensee to&nbsp;enforce an&nbsp;obligation, 
        duty, or&nbsp;right arising under this End User License or&nbsp;by&nbsp;law with respect to&nbsp;the Software 
        or&nbsp;Third Party Services must be&nbsp;commenced within one year after the cause of&nbsp;action accrues.
      %li
        %strong Governing Law. 
        The terms of&nbsp;this Agreement shall be&nbsp;governed by&nbsp;and construed in&nbsp;accordance with the laws of&nbsp;the State of&nbsp;Georgia, 
        without effect to&nbsp;conflict of&nbsp;law principles. Additionally, any action brought pursuant to&nbsp;Licensee&rsquo;s use of&nbsp;the EditFu 
        Services or&nbsp;pursuant to&nbsp;the terms and conditions of&nbsp;this Agreement shall be&nbsp;brought within the jurisdiction of&nbsp;the courts of&nbsp;Fulton 
        County, Georgia.
      %li
        %strong Survival of Agreement.
        Provisions hereof related to&nbsp;release of&nbsp;claims, indemnification, use of&nbsp;information and data, payment for the EditFu 
        Services, disclaimer of&nbsp;warranties and any other provisions of&nbsp;this Agreement which, by&nbsp;its nature or&nbsp;terms, are contemplated 
        or&nbsp;should be&nbsp;expected to&nbsp;survive (or&nbsp;to&nbsp;be&nbsp;performed after) expiration or&nbsp;termination 
        of&nbsp;this Agreement, will, in&nbsp;each case, survive any cancellation or&nbsp;termination of&nbsp;this Agreement.
      %li
        %strong Invalid Provisions; Severability.
        It&nbsp;is&nbsp;the desire and intent of&nbsp;the parties hereto that the provisions of&nbsp;this Agreement be&nbsp;enforced to&nbsp;the fullest extent 
        permissible under the laws and public policies applied in&nbsp;each jurisdiction in&nbsp;which enforcement is&nbsp;sought. Accordingly, 
        if&nbsp;any particular provision of&nbsp;this Agreement shall be&nbsp;adjudicated by&nbsp;a&nbsp;court 
        of&nbsp;competent jurisdiction to&nbsp;be&nbsp;invalid, prohibited or&nbsp;unenforceable for any reason, such provision, 
        as&nbsp;to&nbsp;such jurisdiction, shall be&nbsp;ineffective, without invalidating the remaining provisions 
        of&nbsp;this Agreement or&nbsp;affecting the validity or&nbsp;enforceability of&nbsp;this Agreement 
        or&nbsp;affecting the validity or&nbsp;enforceability of&nbsp;such provision in&nbsp;any other jurisdiction. Notwithstanding the foregoing, 
        if&nbsp;such provision could be&nbsp;more narrowly drawn so&nbsp;as&nbsp;not to&nbsp;be&nbsp;invalid, 
        prohibited or&nbsp;unenforceable in&nbsp;such jurisdiction, it&nbsp;shall, as&nbsp;to&nbsp;such jurisdiction, 
        be&nbsp;so&nbsp;narrowly drawn, without invalidating the remaining provisions of&nbsp;this Agreement 
        or&nbsp;affecting the validity or&nbsp;enforceability of&nbsp;such provision in&nbsp;any other jurisdiction.
      %li
        %strong Entire Agreement.
        This Agreement represents the complete understanding and agreement of&nbsp;the parties hereto with respect to&nbsp;the subject 
        matter hereof and supersedes any prior or&nbsp;contemporaneous agreements, whether written or&nbsp;oral, between the parties. 
        This Agreement may not be&nbsp;modified or&nbsp;amended, except by&nbsp;a&nbsp;written instrument executed by&nbsp;each of&nbsp;the parties hereto. 
        This Agreement is&nbsp;for the sole benefit of&nbsp;the parties hereto and is&nbsp;not for the benefit of&nbsp;any third party. The parties 
        hereto shall be&nbsp;deemed to&nbsp;be&nbsp;independent contractors hereunder, and as&nbsp;such, neither party shall&nbsp;be, nor hold itself out 
        to&nbsp;be, an&nbsp;employee or&nbsp;agent of&nbsp;the other party. The language used in&nbsp;this Agreement shall be&nbsp;deemed to&nbsp;be&nbsp;language 
        chosen by&nbsp;both parties hereto to&nbsp;express its mutual intent, and no&nbsp;rule of&nbsp;strict construction against either 
        party shall apply to&nbsp;licenses granted herein or&nbsp;to&nbsp;any term of&nbsp;condition of&nbsp;this Agreement.
      %li
        %strong Waiver.
        No&nbsp;provision of&nbsp;this Agreement shall be&nbsp;deemed waived, amended or&nbsp;modified by&nbsp;either party, unless such waiver, 
        amendment or&nbsp;modification is&nbsp;in&nbsp;writing and signed by&nbsp;the party against whom enforcement of&nbsp;such waiver, 
        amendment or&nbsp;modification is&nbsp;sought. The failure of&nbsp;a&nbsp;party to&nbsp;enforce at&nbsp;any time any of&nbsp;the provisions 
        of&nbsp;this Agreement, or&nbsp;the failure to&nbsp;require at&nbsp;any time performance by&nbsp;one or&nbsp;both of&nbsp;the parties 
        of&nbsp;any of&nbsp;the provisions of&nbsp;this Agreement, shall in&nbsp;no&nbsp;way be&nbsp;construed to&nbsp;be&nbsp;a&nbsp;present or&nbsp;future 
        waiver of&nbsp;such provisions, nor in&nbsp;any way affect the ability of&nbsp;a&nbsp;party to&nbsp;enforce each and every such provision thereafter.
      %li
        %strong Assignment and Delegation.
        No&nbsp;party may assign any of&nbsp;its rights under this Agreement, except with the prior written consent of&nbsp;the other party. 
        That party shall not unreasonably withhold its consent. All assignments of&nbsp;rights are prohibited under this subsection, 
        whether they are voluntary or&nbsp;involuntary, by&nbsp;merger, consolidation, dissolution, operation of&nbsp;law, or&nbsp;any other manner. 
        For purposes of&nbsp;this Section: (a) a&nbsp;&laquo;change in&nbsp;control&raquo; is&nbsp;deemed an&nbsp;assignment 
        of&nbsp;rights; and (b) &laquo;merger&raquo; refers to&nbsp;any merger in&nbsp;which a&nbsp;party participates, regardless 
        of&nbsp;whether it&nbsp;is&nbsp;the surviving or&nbsp;disappearing corporation. No&nbsp;party may delegate any performance 
        under this Agreement. Purported Assignment or&nbsp;Delegation Void. Any purported 
        assignment of&nbsp;rights or&nbsp;delegation of&nbsp;performance in&nbsp;violation of&nbsp;this Section is&nbsp;void.
    %p
      BY&nbsp;CLICKING &laquo;ACCEPT&raquo; BELOW, LICENSEE HEREBY CERTIFY THAT LICENSEE ARE AUTHORIZED AND LEGALLY ENTITLED 
      TO&nbsp;ENTER THIS SERVICES LICENSE AGREEMENT. BY&nbsp;CLICKING &laquo;ACCEPT&raquo; BELOW, LICENSEE FURTHER AGREE THAT LICENSEE
      AGREE TO&nbsp;AND SHALL&nbsp;BE BOUND BY&nbsp;EACH AND EVERY TERM CONTAINED IN&nbsp;THESE TERMS OF&nbsp;SERVICE.
        
      
        