- if current_user.owner?
  = link_to_remote "<span>Add new page</span>", :url => new_site_page_path(:site_id => site.id), :method => :get, :html => { :class => 'action-bar-button page-plus-action', :href => new_site_page_path(:site_id => site.id), :title => "Add new page" }
