= link_to_remote "Add new page", :url => new_site_page_path(:site_id => site.id), :method => :get, :html => { :class => 'action-bar-button page-plus-action', :href => new_site_page_path(:site_id => site.id), :title => "Add new page" }
