- if current_user.owner?
  = link_to_remote "<span>Add a Site</span>", :url => new_site_path, :method => :get, :html => { :class => 'action-bar-button plus-action', :href => new_editor_path, :title => "Add new site" }
