- if current_user.owner?
  = link_to_function "", "showConfirmPopup('#{site_page_path(site, page)}', 'Are you sure you want to remove \"#{page.path}\"')", |
      :class => 'action-bar-button delete-action', |
      :title => "Remove Page" |
