#owner-preferences-popup.two-column-popup
  %h1 
    = link_to_function "Account preferences", nil, :id => :account_preferences_link, :class => :active do |page|
      - page[:account_preferences].add_class_name('active');
      - page[:account_preferences_link].add_class_name('active');
      - page[:plan_and_billing].remove_class_name('active');
      - page[:plan_and_billing_link].remove_class_name('active');
    = link_to_function "Plan & Billing", nil, :id => :plan_and_billing_link do |page|
      - page[:plan_and_billing].add_class_name('active');
      - page[:plan_and_billing_link].add_class_name('active');
      - page[:account_preferences].remove_class_name('active');
      - page[:account_preferences_link].remove_class_name('active');

  = render 'owner_preferences/account_preferences/index'
  = render 'owner_preferences/plan_and_billing/index'
