.alert-popup {
  width: 333px;
}

.alert-popup .text {
  background: #fff200;
  color: #373d43;
  font-size: 14px;
  text-align: center;
}

.confirm-popup .text {
  padding: 0.5em 1ex;
}

.alert-popup .popup-action-bar {
  margin-top: 0;
}

#downgrade-popup {
  width: 325px;
}
