.alert-popup {
  width: 333px;
}

.alert-popup .text {
  background: #fff200;
  color: #373d43;
  font-size: 14px;
  text-align: left;
  padding: 2em 3ex;
}

.confirm-popup .text {
}

.alert-popup .popup-action-bar {
  margin-top: 0;
}

#downgrade-popup {
  width: 325px;
}
