#image-popup .image-list .label-input {
  background: #f1f1f1;
}

#image-popup .alt-input,
#image-popup .file-inputs,
#image-popup .url-inputs {
  float: right;
  width: 437px;
  background: #f1f1f1;
  height: 65px;
  margin-bottom: 10px;
}

#image-popup .url-inputs .label-input {
  width: 100%;
}

#image-popup .file-inputs .fake-file {
  margin: 0 0 0 10px;
  cursor: pointer;
}

#image-popup.only .url-inputs {
  visibility: hidden;
}

#image-popup #thumbnails {
  overflow: auto;
  width: 443px;
  height: 180px;
}

#image-popup .alt-input {
  height: 65px;
  width: 100%;
}

#image-popup .alt-input .label-input {
  float: none;
  margin-right: 0;
}

#image-popup #thumbnails {
  margin-right: 0;
}

#image-popup #thumbnails .thumbnail {
  float: left;
  width: 62px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  padding: 5px;
  visibility: hidden;
  cursor: pointer;
}

#image-popup #thumbnails .thumbnail.selected {
  background: red;
}

#image-popup #thumbnails .thumbnail img {
  vertical-align: middle;
}
