#owner-preferences-popup h1 {
  margin-bottom: 0;
}

#owner-preferences-popup .account h2 {
  margin-top: -15px;
  padding-top: 0;
}

#owner-preferences-popup h2 {
  font-weight: normal;
  font-size: 26px;
  color: #b7b7b7;
  padding: 10px 0 5px 10px;
  margin: 0;
}

#owner-preferences-popup .title-input {
  width: 32%;
}

#owner-preferences-popup .account .editfu_com,
#owner-preferences-popup .billing .prev-billing-date,
#owner-preferences-popup .billing .next-billing-date {
  float: left;
  background: none;
  font-size: 20px;
  color: #b7b7b7;
}

#owner-preferences-popup .account .editfu_com {
  margin-left: -0.5ex;
  line-height: 34px;
}

#owner-preferences-popup .account .domain {
  clear: left;
}

#owner-preferences-popup .account .current-password {
  clear: left;
}

#owner-preferences-popup .plan {
  background: #464646;
  position: relative;
}

#owner-preferences-popup .plan input[type=radio] {
  position: absolute;
  z-index: -1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

#owner-preferences-popup .plan .plan-wrapper {
  margin-top: -37px;
  margin-left: 70%;
}

#owner-preferences-popup .plan .plan-label {
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-bottom: 2em;
  padding: 0 1em 1em;
  width: 100px;
}

#owner-preferences-popup .plan .plan-label.checked {
  background: #343434;
}

#owner-preferences-popup .plan .plan-label small {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1.5em;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  visibility: hidden;
}

#owner-preferences-popup .plan .plan-label.selected small {
  visibility: visible;
}

#owner-preferences-popup .plan .plan-label label {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#owner-preferences-popup .plan .plan-label dl {
  color: #8f8f8f;
}

#owner-preferences-popup .plan .plan-label dl dt {
  font-size: 20px;
  padding-bottom: 0.5em;
}

#owner-preferences-popup .plan .plan-label dl dd {
  margin-left: 0;
  font-size: 12px;
}

#owner-preferences-popup .plan .plan-label dl dd ul {
  padding: 0;
}

#owner-preferences-popup .plan .plan-label dl dd ul li {
  list-style-type: none;
}

#owner-preferences-popup .plan small.description {
  position: absolute;
  bottom: 0;
  color: #b7b7b7;
}

#owner-preferences-popup .billing .card-number {
  width: 32%;
}

#owner-preferences-popup .billing .exp-date {
  width: 16%;
}

#owner-preferences-popup .billing .verification-value {
  width: 15%;
}

#owner-preferences-popup .billing .first-name {
  clear: left;
}

#owner-preferences-popup .billing .first-name,
#owner-preferences-popup .billing .last-name {
  width: 24%;
}

#owner-preferences-popup .billing .zip {
  width: 15%;
}

#owner-preferences-popup .billing .prev-billing-date,
#owner-preferences-popup .billing .next-billing-date {
  width: 120px;
}

#owner-preferences-popup .billing .prev-billing-date span,
#owner-preferences-popup .billing .next-billing-date span {
  line-height: 20px;
}

#owner-preferences-popup .popup-action-bar a.important {
  font-size: 10px;
  color: #fe0000;
  float: left;
  text-decoration: underline;
  padding-left: 10px;
}

#owner-preferences-popup .popup-action-bar .message td {
  padding-left: 115px;
}

