#owner-preferences-popup h1 {
  margin-bottom: 10px;
}

#owner-preferences-popup .account h2 {
  margin-top: -15px;
  padding-top: 0;
}

#owner-preferences-popup h2 {
  font-weight: normal;
  font-size: 26px;
  color: #b7b7b7;
  padding: 10px 0 5px 10px;
  margin: 0;
}

#owner-preferences-popup .title-input {
  width: 32%;
}

#owner-preferences-popup .account .editfu_com,
#owner-preferences-popup .billing .prev-billing-date,
#owner-preferences-popup .billing .next-billing-date {
  float: left;
  background: none;
  font-size: 20px;
  color: #b7b7b7;
}

#owner-preferences-popup .account .editfu_com {
  margin-left: -0.5ex;
  line-height: 34px;
}

#owner-preferences-popup .account .domain {
  clear: left;
}

#owner-preferences-popup .account .current-password {
  clear: left;
}

#owner-preferences-popup .plan {

}

#owner-preferences-popup .plan input[type=radio] {
  position: absolute;
  margin: 12px 5px;
}

#owner-preferences-popup .plan .plan-wrapper {
  margin: 0 20px;
}

#owner-preferences-popup .plan .plan-label {
  color: #8f8f8f;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-bottom: 2em;
  padding: 5px 10px 5px 25px;
  min-width: 137px;
  /*height: 110px;*/

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#owner-preferences-popup .plan .plan-label.checked {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  
  -moz-box-shadow: 2px 2px 4px #999999;
  -webkit-box-shadow: 2px 2px 4px #999999;
  box-shadow: 2px 2px 4px #999999;
}

#owner-preferences-popup .plan .plan-label:active {
  position: relative;
  top: 1px;
  left: 1px;
}

#owner-preferences-popup .plan .plan-label.checked:active {
  -moz-box-shadow: 1px 1px 3px #999999;
  -webkit-box-shadow: 1px 1px 3px #999999;
  box-shadow: 1px 1px 3px #999999;
}


#owner-preferences-popup .plan .plan-label:active small {
  margin-top: -1px;
  margin-left: -1px;
}

#owner-preferences-popup .plan .plan-label small {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -2em;
  color: #666666;
  text-shadow: 0 0 1px #aaaaaa;
  font-size: 14px;
  text-align: center;
}

/*#owner-preferences-popup .plan .plan-label.selected small {
  visibility: visible;
}
*/
#owner-preferences-popup .plan .plan-label label {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#owner-preferences-popup .plan .plan-label dl {
}

#owner-preferences-popup .plan .plan-label dl dt {
  font-size: 20px;
  padding-bottom: 5px;
}

#owner-preferences-popup .plan .plan-label dl dd {
  margin-left: 0;
  font-size: 12px;
}

#owner-preferences-popup .plan .plan-label dl dd ul {
  padding: 0;
}

#owner-preferences-popup .plan .plan-label dl dd ul li {
  list-style-type: none;
}

#owner-preferences-popup .plan .plan-label dl dd ul li.begins {
  color: #acd373;
}

#owner-preferences-popup .plan .plan-label dl dd ul li.ends {
  color: #fe6c4f;
}

#owner-preferences-popup .plan small.description {
  position: absolute;
  bottom: 0;
  color: #b7b7b7;
}

#owner-preferences-popup .billing .card-number {
  width: 32%;
}

#owner-preferences-popup .billing .exp-date {
  width: 16%;
}

#owner-preferences-popup .billing .verification-value {
  width: 15%;
}

#owner-preferences-popup .billing .first-name {
  clear: left;
}

#owner-preferences-popup .billing .first-name,
#owner-preferences-popup .billing .last-name {
  width: 24%;
}

#owner-preferences-popup .billing .zip {
  width: 15%;
}

#owner-preferences-popup .billing .prev-billing-date,
#owner-preferences-popup .billing .next-billing-date {
  width: 120px;
}

#owner-preferences-popup .billing .prev-billing-date span,
#owner-preferences-popup .billing .next-billing-date span {
  line-height: 20px;
}

#owner-preferences-popup .popup-action-bar a.important {
  font-size: 10px;
  color: #fe0000;
  float: left;
  position: relative;
  top: -40px;
  text-decoration: underline;
  padding-left: 10px;
}

#owner-preferences-popup .popup-action-bar .message td {
  padding-left: 115px;
}

#owner-preferences-popup #account_preferences, #owner-preferences-popup #plan_and_billing {
  display: none;
}

#owner-preferences-popup #plan_and_billing.active, #owner-preferences-popup #account_preferences.active {
  display: block;
}

#owner-preferences-popup h1 a {
  font-size: 22px;
  font-weight: normal;
  padding: 0 10px;
  
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#owner-preferences-popup h1 #plan_and_billing_link, #owner-preferences-popup h1 #account_preferences_link {
  color: #B7B7B7;
  text-decoration: underline;
}

#owner-preferences-popup h1 #plan_and_billing_link.active, #owner-preferences-popup h1 #account_preferences_link.active {
  color: #FE0000;
  text-decoration: none;
}

#owner-preferences-popup h5 {
  padding: 0 10px;
  color: #B7B7B7;
  font-weight: normal;
  
  box-shadow: 0px 1px 2px #cccccc;
  -moz-box-shadow: 0px 1px 2px #cccccc;
  -webkit-box-shadow: 0px 1px 2px #cccccc;
}