#preferences-popup {
  width: 760px;
}

#preferences-popup .account .username,  
#preferences-popup .account .domain {
  width: 44%;
}

#preferences-popup .account .email,
#preferences-popup .account .editfu_com {
  width: 44%;
}

#preferences-popup .account .editfu_com {
  margin-left: -0.5ex;
  float: left;
  background: none;
  line-height: 34px;
  font-size: 20px;
  color: #b7b7b7;
}

#preferences-popup .account .domain {
  clear: left;
}

#preferences-popup .plan {
  padding-top: 1em;
  background: #464646;
}

#preferences-popup .plan input[type=radio] {
  position: absolute;
  z-index: -1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

#preferences-popup .plan .plan-wrapper {
  margin-top: -37px;
  margin-left: 42%;
}

#preferences-popup .plan .plan-label {
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-bottom: 2em;
  padding: 0 1em 1em;
}

#preferences-popup .plan .plan-label.checked {
  background: #343434;
}

#preferences-popup .plan .plan-label small {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1.5em;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  visibility: hidden;
}

#preferences-popup .plan .plan-label.checked small {
  visibility: visible;
}

#preferences-popup .plan .plan-label label {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#preferences-popup .plan .plan-label dl {
  color: #8f8f8f;
}

#preferences-popup .plan .plan-label dl dt {
  font-size: 20px;
  padding-bottom: 0.5em;
}

#preferences-popup .plan .plan-label dl dd {
  margin-left: 0;
  font-size: 12px;
}

#preferences-popup .plan .plan-label dl dd ul {
  padding: 0;
}

#preferences-popup .plan .plan-label dl dd ul li {
  list-style-type: none;
}

#preferences-popup .plan small.description {
  color: #b7b7b7;
}

#preferences-popup .billing .card-number {
  width: 44%;
}

#preferences-popup .billing .exp-date {
  width: 21%;
}

#preferences-popup .billing .first-name {
  clear: left;
}

#preferences-popup .billing .first-name,
#preferences-popup .billing .last-name {
  width: 33%;
}
