#new-site-popup {
  width: 760px;
}

#new-site-popup .inputs {
  width: 50%;
  float: left;
}

#new-site-popup .tree-input {
  float: right;
  width: 50%;
}

#new-site-popup .tree-input .label-input {
  width: 100%;
}

#new-site-popup #ftp-tree {
  margin: 0 10px;
  height: 265px;
}
