#new-site-popup .inputs {
  width: 50%;
  float: left;
}

#new-site-popup .inputs .label-input input[type=text] {
  width: 435px;
}

#new-site-popup .inputs .label-input input[type=checkbox] {
  width: auto;
}

#new-site-popup #ftp-tree {
  margin-top: 0;
}

#new-site-popup .tree-input {
  float: right;
  width: 50%;
}

#new-site-popup .tree-input .label-input {
  width: 100%;
}
