#all {
  background: #e4e4e4 url(/images/action-window-bg.png) no-repeat center center;
}

#action-window {
  top: 50px;
  margin-left: 240px;
  padding: 50px 0;
  right: 0;
  bottom: 50px;
  min-width: 550px;
}

#action-window #main {
  padding: 40px;
  color: #636363;
}

#action-window #main .header {
  position: relative;
}

#action-window #main .header .title {
  font-family: helvetica;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

#action-window #main .actions {
  font: 12px arial;
}

#action-window #main .actions a {
  text-decoration: underline;
  margin-left: 8px;
}

a.important {
  color: #fe7e57;
  text-decoration: underline;
}

#action-window #main .hint {
  margin: 25px 0px 20px 0;
  font: 10px arial;
  color: #919191;
}
