#action-bar {
  height: 50px;
  clear: left;
  background: #f9f9f9 url(/images/action-bar-bg.png) repeat-x;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  
  -moz-box-shadow: 0 5px 20px #444444;
  -webkit-box-shadow: 0 5px 20px #444444;
  box-shadow: 0 5px 20px #444444;
}
