html {
  font-family: sans-serif;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 120%;
}

a img {
  border: none;
}

form th {
  text-align: right;
  font-size: 80%;
}

table.data {
  border-collapse: collapse;
}

table.data td, table.data th {
  border: solid 1px gray;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: small;
}

table.data td a {
  text-decoration: none;
}

td.numeric {
  text-align: right;
}

table.card tr th {
  text-align: right;
}

table.card {
  border: solid 1px gray;
}

.actions {
  font-size: x-small;
}

table td {
  border: none;
  vertical-align: top;
}
