.menu-actions .action-bar-button {
  padding-left: 0;
}

.general #main {
  width: 550px;
}

#source-bar #top-menu .label {
  padding-top: 2px;
  padding-bottom: 2px;
}

.menu-actions .action-bar-button {
  padding: 0 !important;
  min-width: 23px !important;
}
