/* Styles for public.html.haml */

#action-window #main {
  padding-bottom: 20px;
}

#main form {
  width: 41.5em;
}

form#pages_form {
  width: 100%;
}

#main form#new_owner {
  width: 930px;
  padding-bottom: 95px;
}

#main .inputs .label-input input {
  width: 205px;
}

#main .inputs #owner_terms_of_service {
  width: 25px;
  vertical-align: baseline;
}

.inputs {
  margin-bottom: 0.5em;
}

.submit-input {
  margin-top: 21px;
}

/* Styles for sites.html.haml */

#system-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#tabs small {
  line-height: 1em;
}

.right.shadow, .left.shadow {
  top: 0;
}

#action-window {
  top: 0;
}


#main form#page-form {
  width: 100%;
}

.thumbnail img {
  width: auto !important;
}

/* 2 divs added to HTML */
.wrapper {
  position: absolute;
  top: 50%;
}

.nosites .inside {
  display: block;
  position: relative;
  left: -50%;
  top: -50%;
}


  /* footer's (action-bar) part */
#inside-action-bar .action-bar-button {
  float: left;
}

/* Section "Editors" */

#new_editor .title {
  left: 0;
}

/* Popup form modified */

.inputs .label-input input, .inputs .label-input select  {
  width: 310px;
  line-height: 20px;
  font-size: 20px;
  background: #f1f1f1;
  padding: 5px 9px;
  border: 1px solid transparent;
}



form.edit_site .title-input .title {
  left: 0;
}

form.new_site .title-input .title {
left: 0;
}

form.edit_site .inputs .label-input {
  margin: 0;
}

.two-column-popup#owner-preferences-popup #account_preferences .inputs-row input {
  width: 93%;
}


.two-column-popup#owner-preferences-popup .title {
  left: 0;
}

table.pages {
position: relative;
}

table.pages caption .action-bar-button {
  float: none !important;
  position: absolute;
  right: 10px;
}

.email {
position: relative;;
}

.email .title {
  position: absolute;
}