.inputs .label-input {
  float: left;
  position: relative;
  margin: 0 9px 10px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.title-input {
  float: left;
  position: relative;
  margin-top: 15px;
}

.title-input.first {
  margin-top: 0;
}

.title-input .title {
  position: absolute;
  top: -15px;
  line-height: 15px;
  margin-left: 11px;
}

#new-editor-popup .title-input .title {
  margin-left: 13px;
}

#new-editor-popup #editor_user_name, #editor_email {
  padding: 5px 13px;
}

/* .inputs-row .title-input + .title-input .title {
  margin-left: 13px;
} */

.label-input .inner-title,
.title-input .title {
  font-size: 12px;
  color: #b7b7b7;
}

.inputs .label-input input, .inputs .label-input select {
  width: 100%;
  line-height: 20px;
  font-size: 20px;
  background: #f1f1f1;
  padding: 5px 9px;
  border: 1px solid transparent;
/*  color: #f1f1f1;*/
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.inputs .label-input input[type=checkbox] {
  background: transparent;
  padding: 0;
}

.inputs .label-input input[type=checkbox]:focus {
  border: 0;
}

.inputs .label-input select {
  width: auto;
  padding: 5px 0;
  height: 37px;
  font-size: 18px;
}

#owner-preferences-popup .edit_owner .billing .exp-date .label-input select,
#owner-preferences-popup .edit_owner .billing .exp-date .label-input select option {
  color: #7e7e7e;
  outline: none;
  border: none;
  height: 36px;
  padding-top: 6px;
  line-height: 35px;
  width: 50%;
  text-align: center;
  margin-right: 3%;
}

#owner-preferences-popup .edit_owner .billing .exp-date .label-input {
  width: 91%;
}

.inputs .label-input select:first-child {
  margin-left: -5px;
}

.inputs div input:focus,
.inputs div input {
  color: #7e7e7e;
}

.inputs div input[type=submit] {
  color: #ffffff;
}

.inputs div input[type=submit]:focus {
  color: #000000;
}

.label-input label {
  position: absolute;
  bottom: 0;            
  left: 0;
  line-height: 20px;
  font-size: 20px;
  color: #b7b7b7;
  padding: 10px;
}

.inputs div input:focus + label,
.inputs div input.with-text + label {
  z-index: -1;
}

.label-input .error {
  background: #ff0000;
  color: white;
  font-size: 14px;
  line-height: 10px;
  padding: 10px;
}

.label-input .error.blank {
  background: transparent;
}

.label-input .error + input + label {
  /*top: 40px;*/
}

.inputs div input:focus {
  background: #ffffff;
  border: 1px solid #cccccc;
}

.public .label-input {
  width: 224px;
}

.label-input label.filled {
  color: #7E7E7E;
}

.label-input span.hint, .label-input span.description {
}

#main .label-input span.hint {
  font-size: 14px;
  color: #383838;
  float: none;
}

#main .label-input span.description {
  margin-top: 3px;
  font-size: 12px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #333333;
  display: block;
}

.general.public #main .label-input span.description {
  color: #818181;
  text-shadow: none;
}

#new_owner .label-input label {
  margin-bottom: 15px;
}

.label-input label {
  bottom: 0;
  top: auto ! important;
  white-space: nowrap;
}

#new_owner .password-confirmation label, #new_owner .password label {
  margin: 0;
}

.public #main .subdomain {
  position: absolute;
  right: 230px;
  top: 141px;
  width: auto;
  color: #ffffff;
  text-shadow: 1px 1px 0 #000000;
}

.public #main .subdomain input {
  font-family: Arial, sans-serif;
  font-size: 13px;
  min-width: 10px;
  padding: 1px;
  
  background: transparent;
  border: 1px solid #CCCCCC;
  color: #ffffff;
  text-shadow: 1px 1px 0 #000000;
}

.public #main .subdomain input:focus {
  background: #f1f1f1;
  color: #7e7e7e;
  text-shadow: 1px 1px 0 #f1f1f1;
}

.public #main .subdomain input:hover {
  background: #f1f1f1;
}

.public #main .subdomain #fake_domain_name {
  font-family: Arial, sans-serif;
  font-size: 13px;
  position: absolute;
  visibility: hidden;
  padding: 3px;
}

.public #main .terms_of_service {
  float: right;
  margin-top: 27px;
  width: 170px;
  right: 95px;
  position: absolute;
}

.public #main .terms_of_service input {
  width: 20px;
  /*vertical-align: sub;*/
  position: relative;
  top: 2px;
}

.public #main .terms_of_service a {
  color: #FF0000;
}


.public #main .terms_of_service label {
  color: #1e1e1e;
  text-shadow: 1px 1px 2px #92acb8;
  font-size: 12px;
  margin: 0;
  z-index: 1 ! important;
  position: static;
  padding: 0;
}

.public #main .terms_of_service .error {
  margin-top: -2.8em;
  margin-bottom: 0.6em;
}

.submit-input {
  margin-top: 20px;
  float: left;
}

#owner-preferences-popup .edit_owner .billing .exp-date .label-input select#owner_card_attributes_display_expiration_date_2i {
  width: 40%;
}

#owner-preferences-popup .edit_owner .billing .exp-date .label-input select#owner_card_attributes_display_expiration_date_1i {
  width: 60%;
}