.inputs .label-input {
  float: left;
  position: relative;
  margin: 0 9px 10px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.title-input {
  float: left;
  position: relative;
  margin-top: 15px;
}

.title-input.first {
  margin-top: 0;
}

.title-input .title {
  position: absolute;
  top: -15px;
  line-height: 15px;
  margin-left: 10px;
}

.inputs-row .title-input + .title-input .title {
  margin-left: 0;
}

.label-input .inner-title,
.title-input .title {
  font-size: 12px;
  color: #b7b7b7;
}

.inputs .label-input input {
  width: 100%;
  line-height: 20px;
  font-size: 20px;
  background: #f1f1f1;
  padding: 5px 9px;
  border: 1px solid transparent;
  color: #f1f1f1;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.inputs div input:focus,
.inputs div input.with-text {
  color: #7e7e7e;
}

.label-input label {
  position: absolute;
  bottom: 0;            
  left: 0;
  line-height: 20px;
  font-size: 20px;
  color: #b7b7b7;
  padding: 10px;
}

.inputs div input:focus + label,
.inputs div input.with-text + label {
  z-index: -1;
}

.label-input .error {
  background: #ff0000;
  color: white;
  font-size: 14px;
  line-height: 10px;
  padding: 10px;
}

.label-input .error.blank {
  background: transparent;
}

.label-input .error + input + label {
  /*top: 40px;*/
}

.inputs div input:focus {
  background: #ffffff;
  border: 1px solid #cccccc;
}

.public .label-input {
  width: 230px;
}

.label-input label.filled {
  color: #7E7E7E;
}

.label-input span.hint, .label-input span.description {
}

#main .label-input span.hint {
  font-size: 14px;
  color: #383838;
  float: none;
}

#main .label-input span.description {
  margin-top: 3px;
  font-size: 12px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #333333;
}

#new_owner .label-input label {
  margin-bottom: 15px;
}

.label-input label {
  bottom: 0;
  top: auto ! important;
  white-space: nowrap;
}

#new_owner .password-confirmation label, #new_owner .password label {
  margin: 0;
}

.public #main .password-confirmation {
  margin-top: -19px;
}

.submit-input {
  margin-top: 20px;
  float: left;
}
