.didnt_confirmed {
  position: relative; 
  top: -20px; 
  padding: 0 10px;
  float: right;
}

#add-action-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  position: fixed;
  height: 50px;
  width: 50px;
}

#add-action-bar a {
  height: 50px;
  width: 50px;
  display: block;
  background: url(/images/plus.png) center center no-repeat;
}

form input.update-button {
  background: #f2ffbf url(/images/up.png) 11px center no-repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
  border: 0;
  height: 40px;
  padding: 0 14px 0 45px;
  line-height: 50px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
  color: #333333;
  cursor: pointer;
  
  margin: 5px;
  border: 1px solid #d2d2d2;
  
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

form input.update-button:hover {
  background-color: #ecff9f;
  border: 1px solid #a2a2a2;
}

form input.update-button:active {
  background-color: #e3ff6f;
  border: 1px solid transparent;
  color: #000000;

  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;

}

form input.update-button:focus {
  outline: none; 
}

form input.update-button::-moz-focus-inner { 
  border: 1px solid transparent;
}


.action-bar-button {
  border: 1px solid transparent;
  height: 48px;
  width: 48px;
  background-position: center center;
  background-repeat: no-repeat;

  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

.action-bar-delimiter {
  border-left: 1px solid #d2d2d2;
  margin-top: 4px;
  height: 40px;
  width: 1px;

  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

.actions .action-bar-button, .page .action-bar-button  {
  height: 17px;
  width: 17px;
  position: relative;
  top: -4px;
}

.site-menu div.label {
  position: relative;
}

.menu .menu-actions, .site-menu .menu-actions {
  display: none;
  height: 25px;
  min-width: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-actions .action-bar-button {
  height: 25px;
  width: 25px;
}


.action-bar-button:hover {
  border: 1px solid #f2f2f2;
  background-color: #e2e2e2;
}

.action-bar-button:active {
  border: 1px solid #ffffff;
  background-color: #7c7c7c;
  background-color: -webkit-gradient(radial, 430 50, 0, 430 50, 120, from(#7c7c7c), to(#000))
}

.menu li:hover .menu-actions, .site-menu div.label:hover .menu-actions,
.menu li.selected .menu-actions, .site-menu .selected div.label .menu-actions {
  display: block;
}


#inside-action-bar {
  position: absolute;
}

#inside-action-bar .action-bar-button, #inside-action-bar .action-bar-delimiter {
  float: right;
}

.action-bar-button.plus-action {
  background-image: url(/images/plus.png);
}

.actions .action-bar-button.plus-action, 
.menu .action-bar-button.plus-action, 
.site-menu .action-bar-button.plus-action,
.page .action-bar-button.plus-action {
  background-image: url(/images/plus-small.png);
}

.action-bar-button.delete-action {
  background-image: url(/images/delete.png);
}

.actions .action-bar-button.delete-action, 
.menu .action-bar-button.delete-action, 
.site-menu .action-bar-button.delete-action,
.page .action-bar-button.delete-action {
  background-image: url(/images/delete-small.png);
}

.action-bar-button.preferences-action {
  background-image: url(/images/preferences-editor.png);
}

.actions .action-bar-button.preferences-action, 
.menu .action-bar-button.preferences-action, 
.site-menu .action-bar-button.preferences-action,
.page .action-bar-button.preferences-action {
  background-image: url(/images/preferences-editor-small.png);
}

.action-bar-button.view-page-action {
  background-image: url(/images/view-actual.png);
}

.actions .action-bar-button.view-page-action, 
.menu .action-bar-button.view-page-action, 
.site-menu .action-bar-button.view-page-action,
.page .action-bar-button.view-page-action {
  background-image: url(/images/view-actual-small.png);
}

.action-bar-button.page-plus-action {
  background-image: url(/images/page-plus.png);
}

.actions .action-bar-button.page-plus-action, 
.menu .action-bar-button.page-plus-action, 
.site-menu .action-bar-button.page-plus-action,
.page .action-bar-button.page-plus-action {
  background-image: url(/images/page-plus-small.png);
}

.action-bar-button.hold-action {
  background-image: url(/images/hold.png);
  background-position: top center;
}

.action-bar-button.hold-action:hover {
  background-position: bottom center;
}

.action-bar-button.unhold-action {
  background-image: url(/images/hold.png);
  background-position: bottom center;
}

.action-bar-button.unhold-action:hover {
  background-position: top center;
}

.actions .action-bar-button.hold-action, 
.menu .action-bar-button.hold-action, 
.site-menu .action-bar-button.hold-action,
.page .action-bar-button.hold-action {
  background-image: url(/images/hold-small.png);
}

.actions .action-bar-button.unhold-action, 
.menu .action-bar-button.unhold-action, 
.site-menu .action-bar-button.unhold-action,
.page .action-bar-button.unhold-action {
  background-image: url(/images/hold-small.png);
}


.action-bar-button.enable-action {
  background-image: url(/images/disable.png);
  background-position: top center;
}

.action-bar-button.enable-action:hover {
  background-position: bottom center;
}

.action-bar-button.disable-action {
  background-image: url(/images/disable.png);
  background-position: bottom center;
}

.action-bar-button.disable-action:hover {
  background-position: top center;
}


.actions .action-bar-button.enable-action, 
.menu .action-bar-button.enable-action, 
.site-menu .action-bar-button.enable-action,
.page .action-bar-button.enable-action {
  background-image: url(/images/enable-small.png);
}

.actions .action-bar-button.disable-action, 
.menu .action-bar-button.disable-action, 
.site-menu .action-bar-button.disable-action,
.page .action-bar-button.disable-action {
  background-image: url(/images/disable-small.png);
}


