body {
  margin: 50px 0;
}

a {
  text-decoration: none;
  color: #636363;
}

a img {
  border: none;
}

#system-bar {
  height: 50px;
  background: #e21303;
  position: fixed;
  top: 0;
  width: 100%;
}

#tabs {
  float: left;
}

#tabs a {
  float: left;
  width: 120px;
  height: 50px;
}

#tabs img {
  margin-left: 45px;
  margin-top: 12px;
}

#tabs .selected {
  background: #ddd url(/images/source-bar-bg.jpg);
  position: relative;
}

#tabs .shadow {
  position: absolute;
  height: 50px;
  width: 16px;
  bottom: 0;
  background: #e21303;
}

#tabs .shadow.right {
  background: url(/images/tab-shadow-right.png) left repeat-y;
  right: -16px;
}

#tabs .shadow.left {
  background: url(/images/tab-shadow-left.png) right repeat-y;
  left: -16px;
}

#system-bar .logo {
  position: absolute;
  left: 50%;
  width: 55px;
  height: 75px;
  z-index: 1;
  background: url(/images/logo.png) center top no-repeat;
}

.system-link {
  float: right;
  margin-right: 10px;
  margin-left: 25px;
  line-height: 50px;
  color: #f3a39d;
  font-family: impact;
}

.system-link img {
  padding-top: 11px;
}

#source-bar {
  position: absolute;
  overflow: auto;
  top: 50px;
  left: 0px;
  bottom: 50px;
  width: 240px;
  background: #ddd url(/images/source-bar-bg.jpg);
}

.top-menu {
  margin: 18px 12px;
  padding: 0px;
  list-style-type: none;
}

.top-menu li {
  font-family: helvetica;
  font-size: 16px;
  font-weight: bold;
  color: #636363;
  margin-top: 12px
}

.menu {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-top: 3px;
}

.menu li {
  font-family: helvetica;
  font-size: 16px;
  font-weight: normal;
  color: #6a6a6a;
  margin: 0px;
  margin-left: -5px;
}

.menu li .label {
  display: block;
  padding: 2px;
}

.menu li.selected {
  border-bottom: solid 2px #c2c2c2;
  border-right: solid 2px #c2c2c2;
  background: white url(/images/selected-page-bg.png) repeat-x bottom;
}

.menu .selected .label {
  border: 1px solid #aaaaaa;
}

#action-window {
  position: absolute;
  overflow: auto;
  top: 50px;
  left: 240px;
  right: 0;
  bottom: 50px;
  background: #e4e4e4 url(/images/action-window-bg.png) no-repeat center center;
}

#main {
  padding: 40px;
  color: #636363;
}

#action-window .header {
  position: relative;
  margin-bottom: 10px;
}

.header .title, .header .nbsp {
  font: 23px impact;
}

.header .actions {
  font: 12px arial;
}

.header .actions a {
  text-decoration: underline;
}

.header .actions a.important {
  color: #fe7e57;
}

.header .hint {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font: 10px arial;
  color: #919191;
}

.message {
  width: 100%;
  height: 50px;
  font: bold 20px helvetica;
  text-align: center;
}

#page-message {
  position: fixed;
  bottom: 50px;
}

.message div {
  color: white;
  line-height: 50px;
}

.message .success {
  background: #60cc97;
}

.message .warning {
  background: #fcdc6b;
}

.message .error {
  background: #eb4250;
}

#action-bar {
  height: 50px;
  clear: left;
  background: #f9f9f9 url(/images/action-bar-bg.png) repeat-x;
  position: fixed;
  bottom: 0;
  width: 100%;

  text-align: center;
}

.plus-action {
  display: block;
  float: left;
  margin-left: 16px;
  margin-top: 13px;
}

.update-action {
  margin-right: 16px;
  padding-left: 40px;
  display: block;
  float: right;
  font-family: impact;
  font-size: 20px;
  line-height: 50px;
  background: url(/images/up.png) no-repeat left center;
}

.clearLeft {
  clear:left;
}
