#action-bar .processing,
.popup .popup-action-bar .processing {
  position: absolute;
  left: 50%;
  margin-top: 9px;
}

.message {
  font: bold 20px helvetica;
  line-height: 50px;
  height: 50px;
  color: white;
}

#action-bar .message {
  width: 100%;
  text-align: center;
}

.popup-action-bar .message {
  position: absolute;
  left: 0;
  right: 0;
  text-align: left;
  padding-left: 10px;
}

.message.success {
  background: #60cc97;
}

.message.warning {
  background: #fcdc6b;
}

.message.info {
  background: #fcdc6b;
}

.message.error, .message.failure {
  background: #eb4250;
}
