#action-bar .processing,
.popup .popup-action-bar .processing {
  position: absolute;
  margin-top: 9px;
}

#action-bar .processing {
  left: 50%;
}

.popup .popup-action-bar .processing {
  left: 10px;
}

.popup .one-column-popup .popup-action-bar .processing {
  left: 10px;
}

.message {
  font: normal 12px helvetica;
  height: 50px;
  color: white;
  width: 100%;
}

.message td {
  vertical-align: middle;
  text-align: center;
}

#action-bar .message td {
  padding: 0 140px;
}

.popup-action-bar .message {
  position: absolute;
}

.popup-action-bar .message td {
  padding-left: 10px;
  padding-right: 170px;
}

.message.success {
  background: #60cc97;
}

.message.warning, .message.info {
  background: #dcab35;
}

.message.error, .message.failure {
  background: #eb4250;
}
