#main .blackbox {
  width: 415px;
  height: 200px;
  background: #4c4b4b;
}

#main ol {
  margin-top: 20px;
  color: #e21303;
  font-family: helvetica;
  font-weight: normal;
  font-size: 14px;
  list-style-position: inside;
}

#main ol p {
  font-size: 12px;
  color: #000000;
}
