.popup {
  background: white;
  position: relative;
}

.popup h1 {
  font: bold 18px helvetica;
  color: #ff1200;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 25px;
}

.popup .input-hint {
  font: 12px helvetica;
  color: #b7b7b7;
}

.popup .input {
  margin-bottom: 15px;
}

.popup .input .box {
  padding-left: 15px;
  position: relative;
  height: 35px;
  background: #f1f1f1;
  font: 24px helvetica;
}

.popup .input .error {
  padding-left: 15px;
  height: 35px;
  background: #ff0000;
  color: white;
  font: 14px/35px helvetica;
}

.popup .input .error * {
  line-height: 35px;
}

.popup .input input {
  top: 0;
  bottom: 0;
  right: 0;
  left: 10px;
  position: absolute;
  display: none;
  font: 24px helvetica;
}

.popup .input .label {
  line-height: 35px;
}

.popup .input.active .label {
  display: none;
}

.popup .input.active input {
  display: inline;
}

.popup .message {
  position: absolute;
  bottom: 50px;
}

.popup .action-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #f1f1f1;
}

.popup .action-bar a {
  font: bold 20px helvetica;
  color: #555555;
  line-height: 50px;
  float: right;
  margin-right: 15px;
}

.popup .action-bar a.cancel {
  font-weight: normal;
  color: #ff8d84;
}

.popup .popup-hint {
  position: absolute;
  left: 15px;
  bottom: 55px;
  font: 10px helvetica;
  color: #838383;
}

#new-site.popup {
  height: 525px;
}

#new-site.popup .inputs {
  width: 435px;
}

#new-site.popup .tree-input {
  float: right;
  width: 375px;
}

#new-site.popup .tree-input .box {
  height: 280px;
  padding: 15px;
  padding-top: 10px;
}

#new-site.popup #ftp-tree {
  margin-top: 5px;
  height: 265px;
}
