.popup {
  background: white;
  position: relative;
}

.popup h1 {
  font: bold 18px helvetica;
  color: #ff1200;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 25px;
}

.popup .input {
  margin-bottom: 15px;
}

.popup .input .box {
  padding-left: 15px;
  background: #f1f1f1;
}

.popup .box.has-hint {
  padding: 7px 15px 8px 15px;
}

.popup .input-hint {
  font: 10px helvetica;
  color: #b7b7b7;
  margin-bottom: 8px;
}

.popup .input .error {
  padding-left: 15px;
  height: 35px;
  background: #ff0000;
  color: white;
  font: 14px/35px helvetica;
}

.popup .input .label, .popup .input input {
  font: 24px helvetica;
}

.popup .input input {
  width: 100%;
  height: 29px;
  margin: 0;
  margin-left: -2px;
  padding: 0;
  padding-top: 4px;
  border: solid gray 1px;
  outline: none;

  display: none;
}

.popup .input .label {
  line-height: 35px;
}

.popup .input.active .label {
  display: none;
}

.popup .input.active input {
  display: block;
}

.popup .message {
  position: absolute;
  bottom: 50px;
}

.popup .action-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #f1f1f1;
}

.popup .action-bar a {
  font: bold 20px helvetica;
  color: #555555;
  line-height: 50px;
  float: right;
  margin-right: 15px;
}

.popup .action-bar a.cancel {
  font-weight: normal;
  color: #ff8d84;
}

.popup .popup-hint {
  position: absolute;
  left: 15px;
  bottom: 55px;
  font: 10px helvetica;
  color: #838383;
}

.popup .tree-input {
  width: 375px;
}

.popup .tree-input .box {
  height: 280px;
}

.popup .tree-input .input-hint {
  font: 12px helvetica;
}

.popup #ftp-tree {
  margin-top: 5px;
  height: 265px;
}

.site-popup {
  height: 525px;
}

.site-popup .inputs {
  width: 435px;
}

.site-popup .tree-input {
  float: right;
}

#new-page.popup {
  height: 460px;
  width: 375px;
}

#image-popup {
  height: 445px;
  width: 890px;
}

#image-popup .input {
  color: #b7b7b7;
}

#image-popup .image-list.input {
  position: absolute;
}

#image-popup #thumbnails {
  overflow: auto;
  width: 405px;
  height: 180px;
}

.file-inputs {
  position: relative;
}

.fake-file {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup .file-inputs input {
  cursor: pointer;
  display: inline;
  position: relative;
  text-align: right;
  -moz-opacity: 0;
  filter: alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}

.file-inputs img {
  vertical-align: middle;
}

.file-inputs .path {
  font: 12px helvetica;
  vertical-align: middle;
}

#image-popup .upload, #image-popup .url {
  margin-left: 460px;
}

#image-popup .input.alt {
  margin-top: 85px;
  color: #383838;
}

#thumbnails .thumbnail {
  float: left;
  width: 62px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  visibility: hidden;
  cursor: pointer;
}

#thumbnails .thumbnail img {
  vertical-align: middle;
}
