html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #79c7ee;
}

#all {
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 968px;
    margin-right: auto;
    margin-left: auto;
}

html > body.public.general #all {
    background: url(/images/public-bg.png) bottom right no-repeat;
}

html>body #all {
    height: auto;
}


html > body {
  min-height: 580px;
  min-width: 800px;
}

html > body.company {
  background: #dfdfdf;
}

#art-bg {
  position: absolute;
  right: 165px;
  bottom: 0;
}

#editfu-logo {
  position: absolute;
  right: 20px;
  bottom: 110px;
}

#company-logo {
  position: absolute;
  left: 30px;
  top: 40px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

#main {
  position: absolute;
  right: 20px;
  top: 40px;
}

input.submit {
  background: url(/images/submit.png) no-repeat;
  border: none;
  width: 80px;
  height: 32px;
  color: white;
  font-family: helvetica;
  font-size: 18px;
}

#main .inputs .label-input input {
  width: 230px;
}

#main .hint {
  font-family: helvetica;
  font-size: 13px;
  color: white;
}

#main .hint a {
  color: #ff0000;
  text-decoration: none;
}

body.public #action-bar {
  background: none;
}
