html > body {
  background: #82e9ff;
  min-height: 580px;
  min-width: 800px;
}

#art-bg {
  position: absolute;
  right: 165px;
  bottom: 0;
}

#logo {
  position: absolute;
  right: 20px;
  bottom: 110px;
}

#main {
  position: absolute;
  right: 20px;
  top: 40px;
}

input.submit {
  background: url(/images/submit.png) no-repeat;
  border: none;
  width: 80px;
  height: 32px;
  color: white;
  font-family: helvetica;
  font-size: 18px;
}

#main .inputs .label-input input {
  width: 230px;
}

#main .hint {
  font-family: helvetica;
  font-size: 13px;
  color: white;
}

#main .hint a {
  color: #ff0000;
  text-decoration: none;
}
