#source-bar {
  position: fixed;
  overflow: auto;
  left: 0px;
  top: 50px;
  bottom: 50px;
  width: 240px;
  background: #ddd url(/images/source-bar-bg.jpg);
}

#source-bar #top-menu {
  margin: 18px 12px;
  padding: 0px;
  list-style-type: none;
}

#source-bar #top-menu li {
  font-family: helvetica;
  font-size: 17px;
  font-weight: bold;
  color: #636363;
  margin-top: 12px
}

#source-bar #top-menu .menu {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-top: 3px;
}

#source-bar #top-menu .menu li {
  font-family: helvetica;
  font-size: 16px;
  font-weight: normal;
  color: #6a6a6a;
  margin: 0px;
  margin-left: -5px;
  position: relative;
}

#source-bar #top-menu li a {
  text-decoration: none;
}

#source-bar #top-menu .label {
  display: block;
  padding: 4px 2px 0px 6px;
  text-decoration: none;
}

#source-bar #top-menu a.label:hover {
  text-shadow: 1px 1px 2px #ffffff;
}

#source-bar #top-menu a.label {
  padding-left: 22px;
}

#source-bar #top-menu .selected .label {
  border-bottom: solid 2px #c2c2c2;
  border-right: solid 2px #c2c2c2;
  background: #f6f6f6;
  background -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee))
  border: 1px solid #aaaaaa;
}


#source-bar #top-menu li.selected .label {
  background-repeat: no-repeat;
  background-position: 5px center;
}

#source-bar #top-menu .site-menu li.selected .label {
  background-image: url(/images/page-icon.png);
}

#source-bar #top-menu .editor-menu li.selected .label {
  background-image: url(/images/editor-icon.png);
}


#source-bar #site-2-menu > div > .label a {

}

#source-bar #top-menu .selected .label img {

}

