#source-bar {
  position: fixed;
  overflow: auto;
  left: 0px;
  top: 50px;
  bottom: 50px;
  width: 240px;
  background: #ddd url(/images/source-bar-bg.jpg);
}

#source-bar #top-menu {
  margin: 18px 12px;
  padding: 0px;
  list-style-type: none;
}

#source-bar #top-menu li {
  font-family: helvetica;
  font-size: 17px;
  font-weight: bold;
  color: #636363;
  margin-top: 12px
}

#source-bar #top-menu .menu {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-top: 3px;
}

#source-bar #top-menu .menu li {
  font-family: helvetica;
  font-size: 16px;
  font-weight: normal;
  color: #6a6a6a;
  margin: 0px;
  margin-left: -5px;
}

#source-bar #top-menu li a {
  text-decoration: none;
}

#source-bar #top-menu .label {
  display: block;
  padding: 2px;
  text-decoration: none;
}

#source-bar #top-menu .selected .label {
  border-bottom: solid 2px #c2c2c2;
  border-right: solid 2px #c2c2c2;
  background: white url(/images/selected-page-bg.png) repeat-x bottom;
  border: 1px solid #aaaaaa;
}

#source-bar #site-2-menu > div > .label a {
  margin-left: 4px;
}

#source-bar #top-menu .selected .label img {
  margin-left: 4px;
}

