table.subscriptions {
  margin-bottom: 3ex;
}

table.subscriptions tr td {
  padding: 5px 10px;
  border-left: 1px solid #dadada;
}

table.subscriptions tr:hover td {
  background: #e3e3e3;
}

table.subscriptions tr th {
  background: #bcdeeb;
}

table.subscriptions caption {
  background: #dadada;
}

table.subscriptions tr th {
  text-align: center;
}

table.subscriptions input.price {
  width: 80px;
  text-align: right;
}

.fieldWithErrors {
  display: inline-block;
  padding: 1px;
  background: red;
}

table.subscriptions td.price {
  text-align: right;
  width: 50px;
}

table.subscriptions td.plan {
  
}

table.subscriptions td.starts_at {
  
}

table.subscriptions td.ends_at {
  
}