#system-bar {
  height: 50px;
  background: #e21303;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.2em;
  z-index: 1;
}

#system-bar .center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 240px;
  right: 240px;
  text-align: center;
}

#system-bar #system-logo {
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#system-bar #system-logo a.editfu {
  display: block;
  background: url(/images/logo.png) center top no-repeat;
  width: 55px;
  height: 75px;
}

#system-bar #system-logo a.company {
  font-family: helvetica;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  text-decoration: none;
  color: #f6f6f6;
  
  text-shadow: 0 0 9px #000000;
}

#system-bar #system-logo .change-branding {
  font-family: helvetica;
  font-weight: bold;
  font-size: 10px;
  text-decoration: underline;
  color: #f3a39d;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100px;
}

#system-bar .system-link {
  float: right;
  line-height: 50px;
  color: #f3a39d;
  font-family: helvetica;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  
  background-repeat: no-repeat;
  background-position: center 0;
  height: 50px;
  width: 32px;
  padding-right: 5px;
  padding-left: 5px;
  
  opacity: 0.8;
}

#system-bar .system-link:hover {
  text-shadow: 1px 1px 5px #000000;
  background-position: center -50px;
}

#system-bar .system-link:active {
  opacity: 1;
}

#system-bar .system-link#system-link-preferences {
  background-image: url(/images/preferences.png);
}

#system-bar .system-link#system-link-help {
  background-image: url(/images/help.png);
}

#system-bar .system-link#system-link-alert {
  background-image: url(/images/alert.png);
}

#system-bar .system-link#logout {
  width: auto;
  padding-right: 10px;
}

#system-bar .system-link img {
  padding-top: 11px;
}

#system-bar #tabs {
  float: left;
}

#system-bar #tabs a {
  float: left;
  width: 120px;
  height: 50px;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;  
}

#system-bar #tabs a small {
  display: block;
}

#system-bar #tabs a:hover {
  text-shadow: 1px 1px 0 #7a7a7a;
}

#system-bar #tabs a.selected:hover {
  text-shadow: 1px 1px 0 #ffffff;
}

#system-bar #tabs a:active {
  text-shadow: 0px 0px 2px #7a7a7a;
}

#system-bar #tabs a.selected:active {
  text-shadow: 0px 0px 2px #ffffff;
}


#system-bar #tabs a.selected {
  background: #ddd url(/images/source-bar-bg.jpg);
  position: relative;
  color: #787878;
}

#system-bar #tabs .shadow, #system-bar .shadow {
  position: absolute;
  height: 50px;
  width: 16px;
  bottom: 0;
  background: #e21303;
}

#system-bar #tabs .shadow.right, #system-bar .shadow.right {
  background: url(/images/tab-shadow-right.png) left repeat-y;
  right: -16px;
}

#system-bar #tabs .shadow.left, #system-bar .shadow.left  {
  background: url(/images/tab-shadow-left.png) right repeat-y;
  left: -16px;
}

#system-bar #owner-preferences {
  width: 40px;
  text-align: center;
  position: relative;
  background: url(/images/preferences.png) no-repeat center 0;
}
#system-bar #owner-preferences:hover {
  background: url(/images/preferences.png) no-repeat center -50px;
}

#system-bar #owner-preferences.selected, #system-bar #owner-preferences.selected:hover {
  background: #e3e3e3 url(/images/preferences.png) no-repeat center -50px;
  opacity: 1;
}
