.label-input #ftp-tree {
  margin: 10px;
}

#ftp-tree {
  overflow: auto;
  height: 240px;
}

#ftp-tree ul {
  padding: 0;
  margin: 0;
  display: none;
}

#ftp-tree ul ul {
  margin-left: 20px;
}

#ftp-tree li {
  list-style-type: none;
  padding-top: 5px;
}

#ftp-tree img.closed {
  padding: 5px 5px 0 0;
  vertical-align: top;
}

#ftp-tree span {
  color: #626262;
  text-decoration: none;
  font-family: helvetica;
  font-size: 18px;
  padding-left: 2px;
}

#ftp-tree span.selectable {
  cursor: pointer;
}

#ftp-tree span.selectable:hover {
  background: blue;
}

#ftp-tree span.selected {
  color: #ff0000;
}
