= stylesheet_link_tag 'popups/alert-popup'

.alert-popup
  %h1 Software trial period has expired
  .text
    - if current_user.owner?
      %br
      You should switch to ether Free or 
      %br 
      Professional plans for using this feature.
    - else
      %br
      Please inform your site owner about trial period expiration.

  .popup-action-bar
    = link_to_function "Close", "hidePopup();", :class => 'cancel'
    - if current_user.owner?
      = link_to_remote "Switch", :url => owner_preferences_path, :method => :get
