= stylesheet_link_tag 'popups/alert-popup'

.alert-popup
  %h1 Trial expired
  .text
    - if current_user.owner?
      %br
      Your trial period has expired. 
      If you wish to continue using Editfu, please select a new subscription plan in the Preferences section.
      %br
      %br 
      Should you have any questions, feel free&nbsp;
      %a{:href => "mailto:billing@editfu.com" }> contact us.
    - else
      %br
      Please inform your site owner about trial period expiration.

  .popup-action-bar
    - if current_user.owner?
      = link_to "Choose", ssl_owner_preferences_url(:show => 'billing'), :class => 'action'
    = link_to_function "Close", "hidePopup();", :class => 'action cancel'
