- if current_user.owner?
  %h2#trial-period-expired-message Software trial period has expired. 
  You should switch to ether 
  #{link_to 'Free', free_preferences_plans_path} or
  #{link_to 'Professional', professional_preferences_plans_path}
  plans for using this feature.
- else
  %h2#trial-period-expired-message Site owner trial period expired
