= stylesheet_link_tag 'popups/alert-popup'

.alert-popup
  %h1 Trial expired
  .text
    - if current_user.owner?
      %br
      The trial has ended. Please choose a plan. 
    - else
      %br
      Please inform your site owner about trial period expiration.

  .popup-action-bar
    - if current_user.owner?
      = link_to_remote "Choose", :url => owner_preferences_path, :method => :get, |
        :html => {:class => 'action'} |
    = link_to_function "Close", "hidePopup();", :class => 'action cancel'
