= stylesheet_link_tag 'popups/alert-popup'

.alert-popup
  %h1 Upgrade
  .text
    This requires you to upgrade your plan. Choose YES if you would like to do so. 
    %br
    = link_to 'Click here for more info.', 'http://www.takeastep.me/editfu-pricing/', :target => '_blank'

  .popup-action-bar
    = link_to_function "No", "hidePopup();", :class => 'action cancel'
    = link_to "Yes", owner_preferences_path, :class => 'action'
