#new-page-popup
  %h1 New Page
  - form_remote_tag :url => site_pages_path(@site) do
    .inputs.tree-input
      .label-input
        .path-inputs
        #ftp-tree

    .clear
    .message(style='display: none;')
    %small.description Choose the pages you would like to add
    .popup-action-bar
      = submit_tag "Add"
      = link_to_function "Cancel", "hidePopup();", :class => 'cancel'

:javascript
  new PageFtpTree(#{@site.id}, "#{@site.site_root}");
