#new-page-popup.one-column-popup
  %h1 Add pages
  - form_remote_tag :url => site_pages_path(@site) do
    .inputs.tree-input
      .label-input
        .path-inputs
        #ftp-tree
    .clear

    .popup-action-bar
      %small.description Choose the pages you would like to add.
      = submit_tag "Add"
      = link_to_function "Cancel", "hidePopup();", :class => 'action cancel'

:javascript
  new PageFtpTree(#{@site.id}, "#{@site.site_root}");
