= content_for :sourceBar do
  = render :partial => 'shared/sites_source_bar'

%h2=@page.path
#actions
  %a(href='#') View
  %a(href='#') Settings
  %a(href='#') Remove Page

- @page.sections.each_with_index do |section,index|
  .section{:id=>"section_#{index}"}
    %textarea=section
