= content_tag :span, "#{msg}" + link_to_function("", "hideFlash($(this).up())", :class => :close, :id => "close_flash_#{key}"), |
              :class => "flash_#{key}",  |
              :style => "display: none;" |
