%h2 Preferences
#actions
  = link_to 'Edit', edit_preferences_path

%table.card
  %tr
    %th Name
    %td= @preferences.name
  %tr
    %th Email
    %td= @preferences.email

- if current_user.kind_of?(Owner)
  %p
    #{link_to 'Cancel', owner_path, :method => :delete, :confirm => "Are you sure?"} my account
