- css_class = css_class.nil? ? '' : css_class
#account_preferences.active{:class => css_class}
  - remote_form_for :owner, :url => owner_preferences_path, :html => { :method => :put } do |owner|
    =render 'owner_preferences/account_preferences/account', :owner => owner
    .popup-action-bar
      = link_to_remove owner_path, 'Cancel My Account',                                   |
        'Are you sure you want to cancel this EditFu account? This cannot be undone.      |
        The sites connected to EdtiFu will not be affected. All editors, ftp data, and    | 
        other account information related to EditFu databases will be deleted. We suggest |
        you simply downgrade to the free account. To use EditFu again in the future you   |
        will have to create a new account.'                                               |
      = owner.submit "Update"
      = link_to_function "Cancel", "hidePopup();", :class => 'action cancel'
