#editor-settings-popup.one-column-popup
  %h1 Editor Settings
  - remote_form_for @editor do |form|
    = render 'form', :form => form
    .popup-action-bar
      %small.description Change editor name or email then click update.
      = form.submit "Update"
      = link_to_function "Cancel", "hidePopup();", :class => 'cancel'
