.inputs
  .title-input
    .title Editors name
    .label-input
      = form.text_field :user_name
      = form.label :user_name, 'Editor Name'
  .title-input
    .title Editors email
    .label-input
      = form.text_field :email
      = form.label :email, 'Editor Email'
.clear
