.inputs
  .title-input.first
    .title Editors name
    .label-input
      = form.error_for :user_name
      = form.text_field :user_name, :placeholder => 'John Doe'
  .title-input
    .title Editors email
    .label-input
      = form.error_for :email
      = form.text_field :email, :placeholder => 'john@gmail.com'
.clear
