#new-editor-popup.one-column-popup
  %h1 New Editor
  - remote_form_for @editor do |form|
    = render 'form', :form => form
    .popup-action-bar
      %small.description 
        Enter an editors details then click invite. The editor will receive an invite.
      = form.submit "Invite"
      = link_to_function "Cancel", "hidePopup();", :class => 'cancel'
