%p
  Your EditFu account has been successfully cancelled. We are very sorry to see you go,
  but understand everyone has different situations. We would love to hear from you
  regarding your experience using EditFu and your reasons for canceling [ sales@editfu.com ] 
  so we can continue to improve on the product in the future.
%p
  If you decide you would like to use EditFu again you can do so by visiting
  www.editfu.com/signup/ any time to reinstate your account. If you leave the editfu
  class on all your sites pages, reimplementing EditFu will be fast and easy.
%p We look forward to crossing paths again in the future.

= render 'signature', :name => 'sales'
