%p
  The credit card you use for billing with EditFu has expired. 
  Please login to www.editfu.com and update your credit card under preferences 
  as soon as possible to prevent any service interruptions with your account.
%p
  If your billing information is not updated soon your account will be placed 
  in a hold status until you upgrade to another plan or downgrade to the free plan. 
  If you have any editors using EditFu they will not be able to publish any updates until
  your plan is updated.

= render 'signature', :name => 'billing'
