%p
  An editor, #{@editor.user_name} [ #{@editor.email} ] , 
  has encountered the following error while trying to publish content:
%p(style='padding-left: 30px;')
  = @message
%p This error is preventing the editor from being able to publish their content.
%p
  Thanks,
  %br
  \-The EditFu Team
  %br
  support@editfu.com
