%p The credit card for your EditFu account was updated successfully.
%p
  If you made this change in error, please login to your account at http://www.editfu.com and
  click on the preferences to change it to a different card.
%p
  If you didnʼt make this change and feel your account may have been compromised 
  please change your password and contact us [ billing@editfu.com ].
%p
  We take security very seriously and advice you to use a very strong password 
  to protect your account. Credit card information is not stored on our server, 
  but inside the vault at Authorize.net so your credit card information is very secure.
%p Please let us know if you have any other questions.
%p
  Thanks, 
  %br
  \-The EditFu Team 
  %br
  billing@editfu.com
