%p
  Your account has been placed in a hold status due to an expired or invalid credit card 
  until you enter the correct billing information or downgrade to the free plan. 
  If you have any editors using EditFu currently they will not be able to publish
  any updates until an update is made.
%p
  Please visit www.editfu.com to login, then click on preferences to change 
  your plan and/ or make updates to billing information.
%p
  For more information on the difference in plans please visit 
  http://www.takeastep.me/editfu-pricing/

= render 'signature', :name => 'billing'
