%p 
  The subdomain for your EditFu account was changed successfully from 
  #{@user.domain_name_was}.#{BASE_DOMAIN} to 
  #{@user.subdomain}.#{BASE_DOMAIN}.
%p
  An email is automatically sent to all editors to inform them about the new address.
  You may also want to inform them yourself.
%p
  If you changed your subdomain address in error, you can change it back 
  by visiting the preferences section of your EditFu account.
%p
  If you didn't change your subdomain and you feel your account has been compromised
  please contact us immediately [ support@editfu.com ].

=render 'signature', :name => 'support'
