%p 
  Your EditFu email address was successfully changed from 
  = @user.email_was 
  to 
  = @user.email
%p Please make a note as your email address is also your login.
%p
  If you changed your email address in error, you can change it back by 
  visiting the preferences section of your EditFu account.
%p 
  If you didn't change your email and you feel your account has been compromised
  please contact us immediately [ support@editfu.com ].

=render 'signature', :name => 'support'
