%p
  The trial period for your EditFu account has expired. Your account will be placed in 
  a hold status until you upgrade to another plan or downgrade to the free plan. 
  If you have any editors using EditFu currently they will not be able to publish 
  any updates until your plan is changed.
%p Please visit www.editfu.com to login, then click on preferences to change your plan.
%p
  For more information on the difference in plans please visit 
  = link_to "http://www.editfuapp.com/", "http://www.editfuapp.com/", :target => "_blank"

= render 'signature', :name => 'billing'
