%p
  The trial period for your EditFu account will be expired. 3 days left!
%p Please visit www.editfu.com to login, then click on preferences to change your plan.
%p
  For more information on the difference in plans please visit 
  http://www.takeastep.me/editfu-pricing/

= render 'signature', :name => 'billing'
