- if current_user.admin?
  = link_to_function "Remove owner", "showConfirmPopup('#{admin_owner_path(owner)}', 'Are you sure you want to remove owner #{owner.full_name}?')", |
      :class => 'action-bar-button delete-action', |
      :title => "Remove owner" |
