%h2 Owner - #{@owner.domain_name}

#actions
  = link_to 'Cancel', admin_owner_path(@owner), |
    :method => :delete, :confirm => "Are you sure?" |
  - if @owner.enabled? 
    = link_to 'Disable', disable_admin_owner_path(@owner), :method => :post
  - else
    = link_to 'Enable', enable_admin_owner_path(@owner), :method => :post

%table.card
  %tr
    %th Domain Name:
    %td=h @owner.domain_name
  %tr
    %th User Name:
    %td=h @owner.user_name
  %tr
    %th Email:
    %td=h @owner.email
  %tr
    %th Plan:
    %td=h @owner.plan
  %tr
    %th Created:
    %td=h @owner.created_at
  %tr
    %th Enabled:
    %td=h @owner.enabled?
