/* Reset */
.editfuSkin table, .editfuSkin tbody, .editfuSkin a, .editfuSkin img, .editfuSkin tr, .editfuSkin div, .editfuSkin td, .editfuSkin iframe, .editfuSkin span, .editfuSkin *, .editfuSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.editfuSkin a:hover, .editfuSkin a:link, .editfuSkin a:visited, .editfuSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.editfuSkin table td {vertical-align:middle}

/* Containers */
.editfuSkin iframe {display:block; background:#FFF}
.editfuSkin .mceLeft {text-align:left}
.editfuSkin .mceRight {text-align:right}

/* External */
.editfuSkin .mceExternalToolbar {position:absolute; border:1px solid #CCC; border-bottom:0; display:none;}
.editfuSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.editfuSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.editfuSkin table.mceLayout {border:0; border-left:1px solid #CCC; border-right:1px solid #CCC}
.editfuSkin table.mceLayout tr.mceFirst td {border-top:1px solid #CCC}
.editfuSkin table.mceLayout tr.mceLast td {border-bottom:1px solid #CCC}
.editfuSkin table.mceToolbar, .editfuSkin tr.mceFirst .mceToolbar tr td, .editfuSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0;}
.editfuSkin td.mceToolbar {padding-top:1px; vertical-align:top}
.editfuSkin .mceIframeContainer {border-top:1px solid #CCC; border-bottom:1px solid #CCC}
.editfuSkin .mceStatusbar {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; display:block; height:20px}
.editfuSkin .mceStatusbar div {float:left; margin:2px}
.editfuSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize}
.editfuSkin .mceStatusbar a:hover {text-decoration:underline}
.editfuSkin table.mceToolbar {margin-left:3px}
.editfuSkin span.mceIcon, .editfuSkin img.mceIcon {display:block; width:30px; height:19px}
.editfuSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.editfuSkin td.mceCenter {text-align:center;}
.editfuSkin td.mceCenter table {margin:0 auto; text-align:left;}
.editfuSkin td.mceRight table {margin:0 0 0 auto;}


.editfuSkin td.mceToolbar.mceCenter {width:80%;}
.editfuSkin td.mceToolbar.mceLeft {width:10%;}
.editfuSkin td.mceToolbar.mceRight {width:10%;}

/* Button */
.editfuSkin .mceButton {display:block; border:1px solid #F0F0EE; width:30px; height:19px; margin-right:1px}

.editfuSkin a.mceButtonEnabled:hover {border:1px solid #0A246A; background-color:#B2BBD0}
.editfuSkin a.mceButtonActive, .editfuSkin a.mceButtonSelected {border:1px solid #0A246A; background-color:#C2CBE0}
.editfuSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.editfuSkin .mceButtonLabeled {width:auto}
.editfuSkin .mceButtonLabeled span.mceIcon {float:left}
.editfuSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.editfuSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.editfuSkin .mceSeparator {display:block; background:url(../../img/icons.gif) -180px 0; width:2px; height:20px; margin:2px 2px 0 4px}

/* ListBox */
.editfuSkin .mceListBox {direction:ltr}
.editfuSkin .mceListBox, .editfuSkin .mceListBox a {display:block}
.editfuSkin .mceListBox .mceText {padding-left:4px; width:70px; text-align:left; border:1px solid #CCC; border-right:0; background:#FFF; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.editfuSkin .mceListBox .mceOpen {width:9px; height:20px; background:url(../../img/icons.gif) -741px 0; margin-right:2px; border:1px solid #CCC;}
.editfuSkin table.mceListBoxEnabled:hover .mceText, .editfuSkin .mceListBoxHover .mceText, .editfuSkin .mceListBoxSelected .mceText {border:1px solid #A2ABC0; border-right:0; background:#FFF}
.editfuSkin table.mceListBoxEnabled:hover .mceOpen, .editfuSkin .mceListBoxHover .mceOpen, .editfuSkin .mceListBoxSelected .mceOpen {background-color:#FFF; border:1px solid #A2ABC0}
.editfuSkin .mceListBoxDisabled a.mceText {color:gray; background-color:transparent;}
.editfuSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.editfuSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.editfuSkin .mceOldBoxModel .mceListBox .mceOpen {width:11px; height:22px;}
.editfuSkin select.mceNativeListBox {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:7pt; background:#F0F0EE; border:1px solid gray; margin-right:2px;}

/* SplitButton */
.editfuSkin .mceSplitButton {width:32px; height:20px; direction:ltr}
.editfuSkin .mceSplitButton a, .editfuSkin .mceSplitButton span {height:20px; display:block}
.editfuSkin .mceSplitButton a.mceAction {width:20px; border:1px solid #F0F0EE; border-right:0;}
.editfuSkin .mceSplitButton span.mceAction {width:20px; background:url(../../img/icons.gif) 20px 20px;}
.editfuSkin .mceSplitButton a.mceOpen {width:9px; background:url(../../img/icons.gif) -741px 0; border:1px solid #F0F0EE;}
.editfuSkin .mceSplitButton span.mceOpen {display:none}
.editfuSkin table.mceSplitButtonEnabled:hover a.mceAction, .editfuSkin .mceSplitButtonHover a.mceAction, .editfuSkin .mceSplitButtonSelected a.mceAction {border:1px solid #0A246A; border-right:0; background-color:#B2BBD0}
.editfuSkin table.mceSplitButtonEnabled:hover a.mceOpen, .editfuSkin .mceSplitButtonHover a.mceOpen, .editfuSkin .mceSplitButtonSelected a.mceOpen {background-color:#B2BBD0; border:1px solid #0A246A;}
.editfuSkin .mceSplitButtonDisabled .mceAction, .editfuSkin .mceSplitButtonDisabled a.mceOpen {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.editfuSkin .mceSplitButtonActive a.mceAction {border:1px solid #0A246A; background-color:#C2CBE0}
.editfuSkin .mceSplitButtonActive a.mceOpen {border-left:0;}

/* ColorSplitButton */
.editfuSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.editfuSkin .mceColorSplitMenu td {padding:2px}
.editfuSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.editfuSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.editfuSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.editfuSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.editfuSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.editfuSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a}
.editfuSkin .mce_forecolor span.mceAction, .editfuSkin .mce_backcolor span.mceAction {overflow:hidden; height:16px}

/* Menu */
.editfuSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #D4D0C8}
.editfuSkin .mceNoIcons span.mceIcon {width:0;}
.editfuSkin .mceNoIcons a .mceText {padding-left:10px}
.editfuSkin .mceMenu table {background:#FFF}
.editfuSkin .mceMenu a, .editfuSkin .mceMenu span, .editfuSkin .mceMenu {display:block}
.editfuSkin .mceMenu td {height:20px}
.editfuSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.editfuSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.editfuSkin .mceMenu span.mceText, .editfuSkin .mceMenu .mcePreview {font-size:11px}
.editfuSkin .mceMenu pre.mceText {font-family:Monospace}
.editfuSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.editfuSkin .mceMenu .mceMenuItemEnabled a:hover, .editfuSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.editfuSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.editfuSkin .mceMenuItemTitle a {border:0; background:#EEE; border-bottom:1px solid #DDD}
.editfuSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.editfuSkin .mceMenuItemDisabled .mceText {color:#888}
.editfuSkin .mceMenuItemSelected .mceIcon {background:url(img/menu_check.gif)}
.editfuSkin .mceNoIcons .mceMenuItemSelected a {background:url(img/menu_arrow.gif) no-repeat -6px center}
.editfuSkin .mceMenu span.mceMenuLine {display:none}
.editfuSkin .mceMenuItemSub a {background:url(img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.editfuSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); background:#FFF}
.editfuSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}
.editfuSkin .mcePlaceHolder {border:1px dotted gray}

/* Formats */
.editfuSkin .mce_formatPreview a {font-size:10px}
.editfuSkin .mce_p span.mceText {}
.editfuSkin .mce_address span.mceText {font-style:italic}
.editfuSkin .mce_pre span.mceText {font-family:monospace}
.editfuSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.editfuSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.editfuSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.editfuSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.editfuSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.editfuSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

.editfuSkin span.mce_bold {background: url(img/bold.png) no-repeat center}
.editfuSkin span.mce_italic {background: url(img/italic.png) no-repeat center}
.editfuSkin span.mce_underline {background: url(img/underline.png) no-repeat center}
.editfuSkin span.mce_bullist {background: url(img/bullist.png) no-repeat center}
.editfuSkin span.mce_numlist {background: url(img/numlist.png) no-repeat center}
.editfuSkin span.mce_image {background: url(img/image.png) no-repeat center}
.editfuSkin span.mce_fullscreen {background: url(img/fullscreen.png) no-repeat center}
.editfuSkin span.mce_code {background-position:-260px 0}
.editfuSkin span.mce_undo {background: url(img/undo.png) no-repeat center}
.editfuSkin span.mce_redo {background: url(img/redo.png) no-repeat center}

/* Theme */
.editfuSkin span.mce_cleanup {background-position:-40px 0}
.editfuSkin span.mce_justifyleft {background-position:-460px 0}
.editfuSkin span.mce_justifyright {background-position:-480px 0}
.editfuSkin span.mce_justifycenter {background-position:-420px 0}
.editfuSkin span.mce_justifyfull {background-position:-440px 0}
.editfuSkin span.mce_anchor {background-position:-200px 0}
.editfuSkin span.mce_indent {background-position:-400px 0}
.editfuSkin span.mce_outdent {background-position:-540px 0}
.editfuSkin span.mce_link {background-position:-500px 0}
.editfuSkin span.mce_unlink {background-position:-640px 0}
.editfuSkin span.mce_sub {background-position:-600px 0}
.editfuSkin span.mce_sup {background-position:-620px 0}
.editfuSkin span.mce_removeformat {background-position:-580px 0}
.editfuSkin span.mce_newdocument {background-position:-520px 0}
.editfuSkin span.mce_help {background-position:-340px 0}
.editfuSkin span.mce_hr {background-position:-360px 0}
.editfuSkin span.mce_visualaid {background-position:-660px 0}
.editfuSkin span.mce_charmap {background-position:-240px 0}
.editfuSkin span.mce_paste {background-position:-560px 0}
.editfuSkin span.mce_copy {background-position:-700px 0}
.editfuSkin span.mce_cut {background-position:-680px 0}
.editfuSkin span.mce_blockquote {background-position:-220px 0}
.editfuSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.editfuSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.editfuSkin span.mce_forecolorpicker {background-position:-720px 0}
.editfuSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.editfuSkin span.mce_advhr {background-position:-0px -20px}
.editfuSkin span.mce_ltr {background-position:-20px -20px}
.editfuSkin span.mce_rtl {background-position:-40px -20px}
.editfuSkin span.mce_emotions {background-position:-60px -20px}
.editfuSkin span.mce_fullpage {background-position:-80px -20px}
/*.editfuSkin span.mce_fullscreen {background-position:-100px -20px}*/
.editfuSkin span.mce_iespell {background-position:-120px -20px}
.editfuSkin span.mce_insertdate {background-position:-140px -20px}
.editfuSkin span.mce_inserttime {background-position:-160px -20px}
.editfuSkin span.mce_absolute {background-position:-180px -20px}
.editfuSkin span.mce_backward {background-position:-200px -20px}
.editfuSkin span.mce_forward {background-position:-220px -20px}
.editfuSkin span.mce_insert_layer {background-position:-240px -20px}
.editfuSkin span.mce_insertlayer {background-position:-260px -20px}
.editfuSkin span.mce_movebackward {background-position:-280px -20px}
.editfuSkin span.mce_moveforward {background-position:-300px -20px}
.editfuSkin span.mce_media {background-position:-320px -20px}
.editfuSkin span.mce_nonbreaking {background-position:-340px -20px}
.editfuSkin span.mce_pastetext {background-position:-360px -20px}
.editfuSkin span.mce_pasteword {background-position:-380px -20px}
.editfuSkin span.mce_selectall {background-position:-400px -20px}
.editfuSkin span.mce_preview {background-position:-420px -20px}
.editfuSkin span.mce_print {background-position:-440px -20px}
.editfuSkin span.mce_cancel {background-position:-460px -20px}
.editfuSkin span.mce_save {background-position:-480px -20px}
.editfuSkin span.mce_replace {background-position:-500px -20px}
.editfuSkin span.mce_search {background-position:-520px -20px}
.editfuSkin span.mce_styleprops {background-position:-560px -20px}
.editfuSkin span.mce_table {background-position:-580px -20px}
.editfuSkin span.mce_cell_props {background-position:-600px -20px}
.editfuSkin span.mce_delete_table {background-position:-620px -20px}
.editfuSkin span.mce_delete_col {background-position:-640px -20px}
.editfuSkin span.mce_delete_row {background-position:-660px -20px}
.editfuSkin span.mce_col_after {background-position:-680px -20px}
.editfuSkin span.mce_col_before {background-position:-700px -20px}
.editfuSkin span.mce_row_after {background-position:-720px -20px}
.editfuSkin span.mce_row_before {background-position:-740px -20px}
.editfuSkin span.mce_merge_cells {background-position:-760px -20px}
.editfuSkin span.mce_table_props {background-position:-980px -20px}
.editfuSkin span.mce_row_props {background-position:-780px -20px}
.editfuSkin span.mce_split_cells {background-position:-800px -20px}
.editfuSkin span.mce_template {background-position:-820px -20px}
.editfuSkin span.mce_visualchars {background-position:-840px -20px}
.editfuSkin span.mce_abbr {background-position:-860px -20px}
.editfuSkin span.mce_acronym {background-position:-880px -20px}
.editfuSkin span.mce_attribs {background-position:-900px -20px}
.editfuSkin span.mce_cite {background-position:-920px -20px}
.editfuSkin span.mce_del {background-position:-940px -20px}
.editfuSkin span.mce_ins {background-position:-960px -20px}
.editfuSkin span.mce_pagebreak {background-position:0 -40px}
.editfuSkin .mce_spellchecker span.mceAction {background-position:-540px -20px}

/* This block contains editfu-specific styles */
.editfuSkin table {
  background-color: #373d43;
}

.editfuSkin .mceToolbar {
  height: 35px;
}

.editfuSkin .mceButton, .editfuSkin a.mceButtonEnabled:hover, .editfuSkin a.mceButtonActive {
  border: none;
}

.mceLayout {
  width: 100% !important;
}

.editfuSkin table.mceLayout {
  border: none;
}

.editfuSkin table.mceLayout tr.mceFirst td {
  border: none;
}

.editfuSkin table.mceLayout tr.mceLast td {
  border: none;
}

.editfuSkin table.mceToolbar, .editfuSkin tr.mceFirst .mceToolbar tr td, .editfuSkin tr.mceLast .mceToolbar tr td {
  border: none;
}

