- files.each do |file|
  - if file[:type] == :folder || /\.html?$/ =~ file[:name]
    %li{:class => "#{file[:type]}"}
      %span= file[:name]
      - if file[:children]
        %ul= render 'tree', :files => file[:children]
