= stylesheet_link_tag 'nocontent'

.all_wrapper
  .nosites
    .wrapper
      .inside
        - if @sites.empty? && current_user.owner?
          Currently there are no sites.
          %br
          You need to add a site before you can edit.
          %br
          To add a site you will need the sites FTP info.
          %br
          = render "layouts/action_bars/add_site"
        - else
          Select a site or page in the sidebar.
    .helper
  - if @sites.empty? && current_user.owner?
    = help_link_for :add_sites
  - else
    = help_link_for :choose_sites