%h2 Free Plan

%p
  All editors will be removed.
  
%p
  Pick single site and 3 pages, others will be removed:

- form_for current_user, :url => free_plan_path do |f|
  = f.error_messages

  %ul
    - current_user.sites.each do |site|
      %li
        = check_box_tag "sites[]", site.id
        =h site.name
        %ul
          - site.pages.each do |page|
            %li
              = check_box_tag "pages[]", page.id
              =h page.path

  %p
    = submit_tag "Confirm"
