- @title = 'Insert/Edit Image'
= content_for :body do
  = javascript_include_tag 'image', 'tiny_mce/tiny_mce_popup', 'tiny_mce/utils/mctabs'

  .tabs
    %ul
      %li#select_tab.current
        %span Select
      %li#upload_tab
        %span Upload

  .panel_wrapper
    #select_panel.panel.current
      #images
        = render :partial => 'show', :collection => @images, :as => :name
      .clearLeft
    #upload_panel.panel
      #success
      #failure
      #processing{:style => 'display: none;'} Uploading image to server...

      - form_tag site_images_path(@site), |
        :id => 'new_image_form', :multipart => true, |
        :method => :post, :onsubmit => 'return false;' do |

        %table
          %tr
            %td
              %strong Select your local file for upload:
          %tr
            %td= file_field_tag 'image', :id => 'uploadImage'
