#messages.messages.flash
  - unless controller.send(:flash).nil?
    - controller.send(:flash).each do |key, msg|
      = render "layouts/flash/one", :key => key, :msg => msg
:javascript
  Event.observe(window, 'load', function() {
    showAllMessages()
  })

  Ajax.Responders.register({
    onCreate: removeAllMessages,
    onComplete: showAllMessages
  });
  
