%li{selected_class(selected)}
  - link_to href, :class => 'label' do
    - if selected
      %img(src="/images/#{name}-icon.png")
    - else
      %img(src="/images/blank.png" width='14' height='13')
    = text
