%a{:title => '', :href => owner_preferences_path, :id => 'owner-preferences', :class => "system-link #{'selected' if controller_name == 'owner_preferences' }"}
  - if controller_name == 'owner_preferences'
    .shadow.left
    .shadow.right
    
  %small
  