%li
  = link_to site.name, site_path(site)
  %ul.menu(id="site-menu-#{site.id}")
    - site.pages.each do |page|
      = render 'layouts/menu_item', :name => 'page', :text => page.path, |
        :href => site_page_path(site, page), :selected => page == @page |
