#tabs
  - owner? do
    = render 'layouts/tab', :name => 'pages', :label => 'sites', :href => sites_path, :tab => tab
    = render 'layouts/tab', :name => 'editors', :label => 'editors', :href => editors_path, :tab => tab
